{% extends 'libri_im/base.html' %} 
{% load static %} 
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<div class="row">
<div class="book" col-md-6 col-sm-12>
<div class="imgDiv"col-md-6 col-sm-12>
    <img src="{{ book.image_link }}" class="imgStyle">

</div>
<div class="textDiv"col-md-2 col-sm-12>
    <h1 class ="h1style"> {{ book.titulli }} </h1>
    
        <h5> {{ book.autori }}</h5>
        <p> {{ book.pershkrimi|truncatechars:920 }}</p>
        
        <h5 class="h5style">Rating: </h5>
        <div class="rate">
         
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
          </div>
        <div class="book_detail_button">
            {% if user.is_authenticated %}
            {% if book.isbn in wtrBooks %}
            <button onclick="onClickFunctionWtr( book='{{ book.isbn }}');" id="buttonclick1{{book.isbn}}" class="mybutton ">Added</button>
            {% else %}
            <button onclick="onClickFunctionWtr( book='{{ book.isbn }}');" id="buttonclick1{{book.isbn}}" class="mybutton " style="margin-left:5%">Want to read</button>
            {%endif%}
        {% if book.isbn in dukelexuar %}
        <button onclick="onClickFunction( book='{{ book.isbn }}');" id="buttonclick{{book.isbn}}" class="mybutton ">Added</button>
        {% else %}
        <button onclick="onClickFunction( book='{{ book.isbn }}');" id="buttonclick{{book.isbn}}" class="mybutton " style="margin-left:5%">Reading</button>
        {%endif%}
        <button class="mybutton" style="margin-left:5%">Read</button>
        {% endif %}
        </div>
    </div>


</div>
</div>

<!-- <div style="padding-left: 75px;padding-top: 100px;">
    <form class="commentform" method="POST" >
        {% csrf_token %}
        {{form.as_p|safe }}
        <button type="submit" style="padding:5px;border-radius: 1rem;" onclick="reloadpage()">Submit</button>
    </form>
</div> -->

<div class="commentContainer"col-md-6 col-sm-12 > 
    <div class="commentDiv"col-md-6 col-sm-12 > 

      <br>
  
      <form method="POST" action="" >
          <img class="avatar avatar-sm mr-2" style="margin-bottom: 10px;" src="{{request.user.profileImg.url}}">
          <b> {{ request.user.username }}</b>
          <!-- <time class="dateStyle">12.12.2020</time> -->
          <div class="media-body">
              {% csrf_token %}
              {{ form.as_p|safe }}
          <!-- <textarea  class="comment-box" rows="6" placeholder="Enter your comment here..." name="bodysubmit" id="bodysubmit"></textarea> -->
          <button type="submit" class="btnStyle1">Post</button>
  
      </form>
      
        <div class="commentButton">
        <!-- <a href="#" class="btnStyle1">Post</a> -->
        </div>
    
    </div>
    </div>
    <div style="margin-bottom: 20px;">
        <h1 style="padding-bottom: 0px;">{{ book.comments.all.count }} Comments</h1>
    </div>

<!-- <div class="commentcontainer" style="padding-top: 10px;padding-left: 70px; "> -->
    <div class="comments" col-md-6 col-sm-12>
        <div class="commentsBox ">
    {% for comment in book.comments.all %}
    {% if comment.is_parent %}
    
        <div class="commentsBox ">
        <div class="njoftimi1">
            <img class="avatar avatar-sm mr-2" style="margin-bottom: 10px;" src="{{request.user.profileImg.url}}" alt="">
           <b> {{ comment.name }}</b>
           <time class="dateStyle">{{ comment.date_added }}</time>
           {% if request.user == comment.name %}
           <a href="{% url 'comment-edit' book.isbn comment.pk  %}" style="margin-left:10px;margin-top:4px;" ><i class="fa fa-pencil" style="color: rgb(0, 60, 255);"></i></a>
           <a href="{% url 'comment-delete' book.isbn comment.pk  %}" style="margin-left:10px;margin-top:4px;" ><i class="fa fa-trash fa-1x" style="color: rgb(192, 87, 87);"></i></a>
           {% endif %}
           
           <p>
            {{ comment.body }}
          </p>
          <div class="d-flex flex-row">
            <form method="POST" action="{% url 'comment-like' book.isbn comment.pk %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button class="remove-default-btn" type="submit" style=" background: unset !important;
                border: unset !important;
                outline: unset !important;">
                    <i class="fa fa-thumbs-up" style="color: #FFF;"> <span>{{ comment.likes.all.count }}</span></i>
                </button>
            </form>

            <form method="POST" action="{% url 'comment-dislike' book.isbn comment.pk %}" style="padding-left:20px;">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button class="remove-default-btn" style=" background: unset !important;
                border: unset !important;
                outline: unset !important;" type="submit">
                    <i class="fa fa-thumbs-down" style="color: #FFF;"> <span>{{ comment.dislikes.all.count }}</span></i>
                </button>

            </form>
            <div>
                <button class="remove-default-btn" style="
                margin-left: 20px;
                color: #FFF;
                background: unset !important;
                border: unset !important;
                outline: unset !important;" onclick="commentReplyToggle(parent_id='{{ comment.pk }}')">
                    <i class="fa fa-commenting-o"></i>
                </button>
            </div>
           
        </div>
        <div>
            <div style="padding-left: 75px;padding-top: 10px;padding-bottom: 5px;" class="d-none" id="{{ comment.pk }}">
                <form class="commentform" method="POST" action="{% url 'comment-reply' book.isbn comment.pk %}" >
                    {% csrf_token %}
                    {{form.as_p|safe }}
                    <button type="submit" style="padding:5px;border-radius: 1rem;" onclick="reloadpage()">Submit</button>
                </form>
            </div>
    </div>


    <!-- <div class="spcomment" style="padding-bottom: 25px;">
        <em><h1 class="cmtext" style="font-size: x-large;">{{ comment.name }} - {{ comment.date_added }} </h1></em>
        <h4> &nbsp;&nbsp;&nbsp;&nbsp;  - {{ comment.body }} - </h4>
        <div class="d-flex flex-row">
            <form method="POST" action="{% url 'comment-like' book.isbn comment.pk %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button class="remove-default-btn" type="submit" style=" background: unset !important;
                border: unset !important;
                outline: unset !important;">
                    <i class="fa fa-thumbs-up" style="color: #FFF;"> <span>{{ comment.likes.all.count }}</span></i>
                </button>
            </form>

            <form method="POST" action="{% url 'comment-dislike' book.isbn comment.pk %}" style="padding-left:20px;">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button class="remove-default-btn" style=" background: unset !important;
                border: unset !important;
                outline: unset !important;" type="submit">
                    <i class="fa fa-thumbs-down" style="color: #FFF;"> <span>{{ comment.dislikes.all.count }}</span></i>
                </button>
            </form>
            <div>
                <button class="remove-default-btn" style="
                margin-left: 20px;
                color: #FFF;
                background: unset !important;
                border: unset !important;
                outline: unset !important;" onclick="commentReplyToggle(parent_id='{{ comment.pk }}')">
                    <i class="fa fa-commenting-o"></i>
                </button>
            </div>
    </div>
    </div>
    <div style="padding-left: 75px;padding-top: 10px;padding-bottom: 5px;" class="d-none" id="{{ comment.pk }}">
        <form class="commentform" method="POST" action="{% url 'comment-reply' book.isbn comment.pk %}" >
            {% csrf_token %}
            {{form.as_p|safe }}
            <button type="submit" style="padding:5px;border-radius: 1rem;" onclick="reloadpage()">Submit</button>
        </form>
    </div> -->
    {% for child_comment in comment.children %}

    <div class=""col-md-6 col-sm-12 style="padding-left:40px;padding-top: 20px;">
        <div class="commentsBox ">
        <div class="njoftimi2">
            <img class="avatar avatar-sm mr-2" style="margin-bottom: 10px;" src="{{request.user.profileImg.url}}">
           <b> {{ child_comment.name }}</b>
           <time class="dateStyle">{{ child_comment.date_added }}</time>
           {% if request.user == comment.name %}
           <a href="{% url 'comment-edit' book.isbn child_comment.pk  %}" style="margin-left:10px;margin-top:4px;" ><i class="fa fa-pencil" style="color: rgb(0, 60, 255);"></i></a>
           <a href="{% url 'comment-delete' book.isbn child_comment.pk  %}" style="margin-left:10px;margin-top:4px;" ><i class="fa fa-trash fa-1x" style="color: rgb(192, 87, 87);"></i></a>
         
           {% endif %}
           <p>
            {{ child_comment.body }}
          </p>
          <div class="d-flex flex-row">
            <form method="POST" action="{% url 'child-comment-like' book.isbn child_comment.pk %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button class="remove-default-btn" type="submit" style=" background: unset !important;
                border: unset !important;
                outline: unset !important;">
                    <i class="fa fa-thumbs-up" style="color: #FFF;"> <span>{{ child_comment.likes.all.count }}</span></i>
                </button>
            </form>
    
            <form method="POST" action="{% url 'child-comment-dislike' book.isbn child_comment.pk %}" style="padding-left:20px;">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button class="remove-default-btn" style=" background: unset !important;
                border: unset !important;
                outline: unset !important;" type="submit">
                    <i class="fa fa-thumbs-down" style="color: #FFF;"> <span>{{ child_comment.dislikes.all.count }}</span></i>
                </button>
            </form>
            <div>
                <button class="remove-default-btn" style="
                margin-left: 20px;
                color: #FFF;
                background: unset !important;
                border: unset !important;
                outline: unset !important;" onclick="commentReplyToggle(parent_id='{{ child_comment.pk }}')">
                    <i class="fa fa-commenting-o"></i>
                </button>
            </div>
    </div>
    </div> 
     <div style="padding-left: 75px;padding-top: 10px;padding-bottom: 5px;" class="d-none" id="{{ child_comment.pk }}">
        <form class="commentform" method="POST" action="{% url 'comment-reply' book.isbn comment.pk %}" >
            {% csrf_token %}
            {{form.as_p|safe }}
            <button type="submit" style="padding:5px;border-radius: 1rem;" onclick="reloadpage()">Submit</button>
        </form>
    </div>
            </div>
            <div>
        </div>
    </div>
    
    <!-- <div class="spcomment" style="padding-bottom: 25px;padding-left: 35px;">
    <em><h1 class="cmtext" style="font-size: x-large;">{{ child_comment.name }} - {{ child_comment.date_added }} </h1></em>
    <h4> &nbsp;&nbsp;&nbsp;&nbsp;  - {{ child_comment.body }} - </h4>
    <div class="d-flex flex-row">
        <form method="POST" action="{% url 'child-comment-like' book.isbn child_comment.pk %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button class="remove-default-btn" type="submit" style=" background: unset !important;
            border: unset !important;
            outline: unset !important;">
                <i class="fa fa-thumbs-up" style="color: #FFF;"> <span>{{ child_comment.likes.all.count }}</span></i>
            </button>
        </form>

        <form method="POST" action="{% url 'child-comment-dislike' book.isbn child_comment.pk %}" style="padding-left:20px;">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button class="remove-default-btn" style=" background: unset !important;
            border: unset !important;
            outline: unset !important;" type="submit">
                <i class="fa fa-thumbs-down" style="color: #FFF;"> <span>{{ child_comment.dislikes.all.count }}</span></i>
            </button>
        </form>
        <div>
            <button class="remove-default-btn" style="
            margin-left: 20px;
            color: #FFF;
            background: unset !important;
            border: unset !important;
            outline: unset !important;" onclick="commentReplyToggle(parent_id='{{ comment.pk }}')">
                <i class="fa fa-commenting-o"></i>
            </button>
        </div>
</div>
</div> -->
<!-- <div style="padding-left: 75px;padding-top: 10px;padding-bottom: 5px;" class="d-none" id="{{ comment.pk }}">
    <form class="commentform" method="POST" action="{% url 'comment-reply' book.isbn comment.pk %}" >
        {% csrf_token %}
        {{form.as_p|safe }}
        <button type="submit" style="padding:5px;border-radius: 1rem;" onclick="reloadpage()">Submit</button>
    </form>
</div>
                     -->


    {% endfor %}
</div>
</div>
    {% endif %}

    {% endfor%}
<!-- </div> -->

<script>
function commentReplyToggle(parent_id) {
	const row = document.getElementById(parent_id);

	if (row.classList.contains('d-none')) {
		row.classList.remove('d-none');
	} else {
		row.classList.add('d-none');
	}
}
</script>
<script>
    function onClickFunction(book){
        btnClickedId = "#buttonclick"+book
          $(document).on('click', btnClickedId, function(e) {
          e.preventDefault();
           });
          $.ajax({
          type: 'POST',
          url:'{% url "post_reading" %}' ,
          data: {
              isbn: book,
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success: function() {
            $.ajax({
              url : '{% url "get_reading" %}',
              type : "GET",
              dataType: "json",
              data: {
                  isbn: book
              },
              success: function(json) {
                // Change number in Want to read Counter
                  $('#wtrtext').text(json.wtrCount.books.length)
                  $('#readtext').text(json.readCount.books.length)
                  $('#readingtext').text(json.readingCount.books.length)

                // Change text in Want to read Button and vice-versa
                  if(json.added){
                    $(btnClickedId).text("Added")
                  } else {
                    $(btnClickedId).text("Reading")
                  }
              },
              failure: function(json) { 
                  alert('Got an error dude GET');
              }
            });    
          },
          failure: function() {
               alert('Got an error dude POST');
          }
        });
        }
   
   
   </script>
   <script>
       function onClickFunctionWtr(book){
        btnClickedId = "#buttonclick1"+book
          $(document).on('click', btnClickedId, function(e) {
          e.preventDefault();
           });
          $.ajax({
          type: 'POST',
          url:'{% url "post_wtr" %}' ,
          data: {
              isbn: book,
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success: function() {
            $.ajax({
              url : '{% url "get_wtr" %}',
              type : "GET",
              dataType: "json",
              data: {
                  isbn: book
              },
              success: function(json) {
                // Change number in Want to read Counter
                  $('#wtrtext').text(json.wtrCount.books.length)
                  $('#readtext').text(json.readCount.books.length)
                  $('#readingtext').text(json.readingCount.books.length)

                // Change text in Want to read Button and vice-versa
                  if(json.added){
                    $(btnClickedId).text("Added")
                  } else {
                    $(btnClickedId).text("Want to read")
                  }
              },
              failure: function(json) { 
                  alert('Got an error dude GET');
              }
            });    
          },
          failure: function() {
               alert('Got an error dude POST');
          }
        });
        }
   
   </script>
<script src="{% static 'libri_im/js/reloadpage.js' %}"></script>

{% endblock content %}