{% extends 'libri_im/base.html' %} 
{% load static %} 
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type=text/css href="{% static 'libri_im/css/other_profile.css' %}"> 


<div class = "allContainer">
  <div class = "allContainer1">
	<!-- Modal for confirm -->
	<div class="modal fade" id="confirmRemoveModal" tabindex="-1" role="dialog" aria-labelledby="confirmRemoveModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		  <div class="modal-content blackBgRoundedWhite">
			 <div class="modal-body">
			  {% csrf_token %}
			  <h5 class="modal-title" id="confirmRemoveModalLabel">Are you sure you don't want to be friends anymore?</h5>
				<div class="buttons">
					<button type="button" id="confirmButton" class="mybutton">Confirm</button>
					<button type="button" id="cancelButton" class="mybutton">Cancel</button>
				</div>
				
			</div>
			<!-- <div class="modal-footer ">
			  
			</div> -->
		  </div>
		</div>
	</div>





  <div class="mainContainer">
    <div class="profile-container align-items-center">
      <div>
        <img class="profileImg2" src="{{user.profileImg.url}}" alt="no-img" >
      </div>
      <div class="w-100 left-container">
        <div class="profile-info">
          <div>
            <h1 id="profileName" class="userProfileName d-flex align-items-center">
             <span class="username">{{user.username}}</span>
            </h1>
            <form class="d-flex" method="get" action="{% url 'findFriends' %}">
              <input
                type="text"
                placeholder="&#xF002;&nbsp;&nbsp;Search for a friend..."
                style="padding-left: 2%; font-family: MontSerrat, FontAwesome"
                name="searchFriend"
                value="{{request.GET.searchFriend}}"
              />
              <!-- <button type="submit" style="padding:5px;"><i class="fa fa-search" aria-hidden="true"></i></button> -->
            </form>
            <div class="userProfileStats mb-5">
              <h6>
                <span class="joined">{{user.dateJoined}}</span><br>  
                <!-- <a id="ratings" href="#">30 ratings</a><br>
                <a id="reviews" href="#">10 reviews</a><br> -->
              </h6><a href="#" style="text-decoration:none; color:white;">
              Friends  ({{friends|length}}) </a><br>
           
            </div>
            {% if friend_requests %}
            <a href="#" style="text-decoration:none; color:white;">
            <div class="userProfileStats mb-5">
    

              Friend Requests ({{friend_requests|length}})
            </div>
          </a>
            {% endif %}

{% comment %} and comming_status==0)  {% endcomment %}

            <div class="card m-2 px-4 pb-4">
				{% csrf_token %}
				<!-- Cancel Friend Request / Send Friend Request / Remove Friend -->
				{% if going_status == 0 %}
					{% if comming_status == 0 %}
					<div class="d-flex flex-column align-items-center pt-4">
						<button onclick='clickFriendRequest(userid = "{{user.id}}")' class="btn btn-primary" id="requestButton">
							Add friend
						</button>
					</div>
					{% elif comming_status == 1 %}
					<div class="d-flex flex-column align-items-center pt-4">
						<button onclick='clickFriendRequest(userid = "{{user.id}}")' class="btn btn-primary" id="requestButton">
							Accept
						</button>
					</div>
					{% elif comming_status == 2 or going_status == 2%}
					<div class="d-flex flex-column align-items-center pt-4">
						<button onclick='clickFriendRequest(userid = "{{user.id}}")' class="btn btn-primary" id="requestButton">
							Friends
						</button>
					</div>
					{% endif %}
					
				{% elif going_status == 1 %}
					<div class="d-flex flex-column align-items-center pt-4">
						<button onclick='clickFriendRequest(userid = "{{user.id}}")' class="btn btn-primary" id="requestButton">
							Request sent
						</button>
					</div>
				{% elif comming_status == 2 or going_status == 2%}
					<div class="d-flex flex-column align-items-center pt-4">
						<button onclick='clickFriendRequest(userid = "{{user.id}}")' class="btn btn-primary" id="requestButton">
							Friends
						</button>
					</div>
				{% else %}
					<div class="d-flex flex-column align-items-center pt-4">
						<button onclick='clickFriendRequest(userid = "{{user.id}}")' class="btn btn-primary" id="requestButton">
							Error
						</button>
					</div>
				{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

<h1>{{follower.username}}</h1>



<script type="text/javascript">

	// called from base_js.html
	//preloadImage("{{profile_image|safe}}", 'id_profile_image')

	function onFriendRequestSent(){
		location.reload();
	}

	function onFriendRequestCancelled(){
		location.reload();
	}

	function onFriendRemoved(){
		location.reload();
	}

	function onFriendRequestAccepted(){
		location.reload();
	}

	function onFriendRequestDeclined(){
		location.reload();
	}

	var clickFriendRequesttest = document.getElementById("id_cancel_friend_request_btn1")
	function test123(clickFriendRequesttest){
		console.log(clickFriendRequesttest)
	}

	// var sendFriendRequestBtn = document.getElementById("requestButton")
	// if (sendFriendRequestBtn != null){
	// 	sendFriendRequestBtn.addEventListener("click", function(){
	// 		sendFriendRequest("{{id}}", onFriendRequestSent)
	// 	})
	// }

	// var cancelFriendRequestBtn = document.getElementById("id_cancel_friend_request_btn")
	// if(cancelFriendRequestBtn != null){
	// 	cancelFriendRequestBtn.addEventListener("click", function(){
	// 		cancelFriendRequest("{{id}}", onFriendRequestCancelled)
	// 	})
	// }

	// var removeFriendBtn = document.getElementById("id_unfriend_btn")
	// if (removeFriendBtn != null){
	// 	removeFriendBtn.addEventListener("click", function(){
	// 		removeFriend("{{id}}", onFriendRemoved)
	// 	})
	// }

	function triggerAcceptFriendRequest(friend_request_id){
		acceptFriendRequest(friend_request_id, onFriendRequestAccepted)
	}

	function triggerDeclineFriendRequest(friend_request_id){
		declineFriendRequest(friend_request_id, onFriendRequestDeclined)
	}
		
	function sendFriendRequest(id, uiUpdateFunction){
		console.log(id);
		payload = {
			"csrfmiddlewaretoken": "{{ csrf_token }}",
			"receiver_user_id": id,
		}
		$.ajax({
			type: 'POST',
			dataType: "json",
			url: "{% url 'friend-request' %}",
			timeout: 5000,
			data: payload,
			success: function(data) {
				
				
				console.log("SUCCESS", data)
				if(data['response'] == "Friend request sent."){
					// ui is updated
				}
				else if(data['response'] != null){
					alert(data['response'])
				}
			},
			error: function(data) {
				console.error("ERROR...", data)
				alert("Something went wrong.")
			},
			complete: function(data){
				uiUpdateFunction()
			}
		});
	}
	
	function clickFriendRequest(userid){
		current_text = $('#requestButton').text()
		console.log('current text:' + current_text);
		
		if(current_text.includes('Friends')){
			$('#confirmRemoveModal').modal('show')
		} else {
			clickFriendRequestPost(userid)
		}
	}

	$('#cancelButton').click(function(e){
		$('#confirmRemoveModal').modal('hide')
	});

	$('#confirmButton').click(function(e){
		clickFriendRequestPost(userid)
	});

	function clickFriendRequestPost(userid) {
		$.ajax({
          type: 'POST',
          url:'{% url "post_friendrequest" %}' ,
          data: {
              userid: userid, //mun me dal error emri i njejt
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success: function() {
            $.ajax({
              url : '{% url "get_friendrequest" %}',
              type : "GET",
              dataType: "json",
              data: {
                  userid: userid
              },
              success: function(json) {
				let buttonText = json.buttonText
				$("#requestButton").text(buttonText)
              },
              failure: function(json) { 
                  alert('Got an error dude GET');
              }
            });   
			
          },
          failure: function() {
               alert('Got an error dude POST');
          }
        });
		$('#confirmRemoveModal').modal('hide') 
	}


</script>


{% endblock content %}