{% extends 'libri_im/base.html' %} {% load static %} {% block content %} <link
rel="stylesheet" type=text/css href="{% static 'libri_im/css/global.css' %}"> <link
rel="stylesheet" type=text/css href="{% static 'libri_im/css/home.css' %}"> <link
rel="stylesheet" type=text/css href="{% static 'libri_im/css/welcome.css' %}"> <link
rel="stylesheet" type=text/css href="{% static 'libri_im/css/sirtariim.css' %}">
<link rel="stylesheet" type=text/css href="{% static 'libri_im/css/perty.css' %}">
<link rel="stylesheet" type=text/css href="{% static 'libri_im/css/sortby.css' %}">
<link rel="stylesheet" type=text/css href="{% static 'libri_im/css/events.css' %}">

<div class="home-container">
  <div class="welcome">
    <!-- qetu punon welcome -->
  </div>
  <div class="sirtariim">
    <!-- qetu punon sirtariim -->
  </div>
  <div class="perty">
    <!-- qetu punon perty -->
  </div>
  <div class="sortby">
    <!-- qetu punon sortby -->
  
  </div>
  <div class="events">
    <!-- qetu punon events -->
  
  </div>
</div>

{% endblock content %}
