{% extends 'libri_im/base.html' %} {% load static %} {% block content %}
<!--Links  -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<div class="home-container">
  <div class="welcome">
    <section id="slideshow">
      <div class="entire-content">
          <div class="content-carrousel">
            {% for cBook in cbooks %}
              <figure class="shadow"><img src="{{ cBook.image_link }}"/></figure>
            {% endfor %}
          </div>
      </div>
    </section>

    <!-- qetu punon welcome -->
  </div>
  <div class="sirtariim">
    <!-- qetu punon sirtariim -->
    <div class="title-container">
      <h1 class="text">Sirtari im</h1>
    </div>
    <div class="sirtariim-container">
      <div class="centerFlex">
        <div class="sirtaret text">
          <div class="nrlibrave-container">
            <p>Dua te lexoj</p>
            <p>{{dtlcount}}</p>
          </div>
          <div class="nrlibrave-container">
            <p>Duke lexuar</p>
            <p>{{dlcount}}</p>
          </div>
          <div class="nrlibrave-container">
            <p>Kam lexuar</p>
            <p>{{klcount}}</p>
          </div>
        </div>
      </div>
        <div class="dukelexuarprogress">
            <div class="circleImage" style="width: 100px;background-image: url({{progressBookImage}}); background-size: cover; clip-path: circle(60px at center);">
                <!-- <img  src="{{progressBookImage}}" alt="noimg"> -->
            </div>
          <div class="title">
            <p>{{progressTitulli}}</p>
          </div>
          <div class="text-progress">
            <p>{{progressNowPages}}/{{progressAllPages}} faqe ose {{progressPercent}}%</p>
          </div>
          <button class="mybutton updateBtn">Perditeso</button>
      </div>
      <!-- <div class="centerFlex"> -->
      <div class="njoftimet text">
        <div class="njoftimi">
          <p class="njoftimicontent">
            Lirak Rushiti filloi te lexoj "Harry Potter"...
          </p>
        </div>
        <div class="njoftimi">
          <p class="njoftimicontent">
            Elidon Morina filloi te lexoj "Harry Potter"...
          </p>
        </div>
        <div class="njoftimi">
          <p class="njoftimicontent">
            Vlera Bllaca filloi te lexoj "Harry Potter"...
          </p>
        </div>
        <div class="njoftimi">
          <p class="njoftimicontent">
            Sara Bajraktari filloi te lexoj "Harry Potter"...
          </p>
        </div>
        <div class="njoftimi">
          <p class="njoftimicontent">
            Eris Frangu filloi te lexoj "Harry Potter"...
          </p>
        </div>
        <div class="njoftimi">
          <p class="njoftimicontent">
            Lirak Rushiti filloi te lexoj "Harry Potter"...
          </p>
        </div>
        <div class="njoftimi">
          <p class="njoftimicontent">
            Lirak Rushiti filloi te lexoj "Harry Potter"...
          </p>
        </div>
        <div class="njoftimi">
          <p class="njoftimicontent">
            Lirak Rushiti filloi te lexoj "Harry Potter"...
          </p>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
  <div class="perty">
    <!-- qetu punon perty -->
    <p class="headingSortby">Per ty</p>
    <div class="PerTyImages">
      {% for book in booksID %}
    <div class="mycover ptcover">
      <img src="{{ book.image_link }}" class="ptimage myimage">
      <h3 class="pttitle">John Grisham</h3>
      <div class="underlinept"></div>
      <p class="ptdesc">This book is an amazing representation of a well written and well sought after series. </p>
      <button class="mybutton hbpt"><a href="{% url 'book-detail' book.isbn %}">Dua ta lexoj</a></button>
    </div>
   {% endfor %}
  </div>
  <p  class="meshume"><a href="#" class="a_meshume">Me shume<img class="arrowimage" src="{% static 'libri_im/images/arrow.png' %}"></a></p>
  
  </div>
  <div class="sortby">
    <!-- qetu punon sortby -->
  
    <p class="headingSortby">Librat e fundit</p>
    <div class="sortByImages"> 
      {% for book in booksLatest %}
    <div class="mycover">
      <img src="{{ book.image_link}}" class="ptimage myimage">
      <button class=" mybutton hoverbutton">Dua ta lexoj</button>
    </div>
    {% endfor %}
   
  </div>  
  <p  class="meshume"><a href="#" class="a_meshume">Me shume<img class="arrowimage" src="{% static 'libri_im/images/arrow.png' %}"></a></p>
  
  <p class="headingSortby">Me te vleresuarat</p>
  <div class="sortByImages"> 
    {% for book in booksR %}
  <div class="mycover">
    <img src="{{ book.image_link}}" class="myimage">
    <button class=" mybutton hoverbutton">Dua ta lexoj</button>
  </div>
  {% endfor %}
 
</div>  
  <p  class="meshume"><a href="#" class="a_meshume">Me shume<img class="arrowimage" src="{% static 'libri_im/images/arrow.png' %}"></a></p>


    <p id="p1">Eventet</p>
  <div class="events">
   <div class="events1 left" >
      <div class="img-container">
        <img src="{% static 'libri_im/images/summerEvent.png' %}" class="img">
      </div>
        <button id="btnEvent">Kliko ketu</button>
    </div>
   <div class="events1 right">
    <div class="img-container">
        <img src="{% static 'libri_im/images/YearEvent1.png' %}" class="img">
        </div>
        <button id="btnEvent1">Kliko ketu</button>
    </div>
  </div>
  
</div>
{% endblock content %}
