{% extends 'libri_im/base.html' %} {% load static %} {% block content %}
<!--Links  -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="home-container">
   <!-- Modals --> 
        <div class="modal fade" id="progressUpdateModal" tabindex="-1" role="dialog" aria-labelledby="progressUpdateModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content blackBgRoundedWhite">
              <div class="modal-header">
                <h5 class="modal-title" id="progressUpdateModalLabel">Update your progress</h5>
              </div>
               <div class="modal-body">
                <p>Update pages for {{progressLibriTitulli}}</p>
                {% csrf_token %}
                <input type="number" name="progressInput" id ="progressInput">
              </div>
              <div class="modal-footer">
                <button type="button" id="updateProgress" class="mybutton">Update</button>
              </div>
            </div>
          </div>
        </div>


        <div class="modal fade" id="progressBooksModal" tabindex="-1" role="dialog" aria-labelledby="progressBooksModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content blackBgRoundedWhite">
              <div class="modal-header">
                <h5 class="modal-title" id="progressBooksModalLabel">Select the book you want to show</h5>
              </div>
              <div class="modal-body modalShowBooks max-width-modal">
                
                {% for book in dukelexuar%}
                <div class="bookButtonContainer">
                 <div class="mycover ptcover"><a href="{% url 'book-detail' book.isbn %}">
                    <img src="{{ book.image_link }}" class="ptimage myimage"></a>
                    <h3 class="pttitle">{{book.titulli}}</h3>
                    <div class="underlinept"></div>
                    <p class="ptdesc">{{book.autori}}</p>
                  </div>
                  <div>
                    <button onclick="selectOnClick(isbn='{{book.isbn}}')"style="border-radius: 10px;" class="mybutton" name="select" id="select{{book.isbn}}">Select</button>
                  </div>
                  </div>
              {% endfor%}
                
              
                </div>
              </div>
            </div>
          </div>




  <div class="welcome">
    <section id="slideshow">
      <div class="entire-content">
          <div class="content-carrousel">
            {% for cBook in cbooks %}
              <figure class="shadow"><a href="{% url 'book-detail' cBook.isbn %}">
                <img src="{{ cBook.image_link }}"/></a></figure>
            {% endfor %}
          </div>
      </div>
    </section>

    <!-- qetu punon welcome -->
  </div>
  {% if request.user.is_authenticated %}
  <div class="sirtariim">
    <!-- qetu punon sirtariim -->
    <div class="title-container">
      <h1 class="text">My shelf</h1>
    </div>
    <div class="sirtariim-container">
      <div class="centerFlex">
        <div class="sirtaret text">
          <div class="nrlibrave-container">
            <p>Want to read</p>
            <p id="wtrtext">{{dtlcount}}</p>
          </div>
          <div class="nrlibrave-container">
            <p>Reading</p>
            <p>{{dlcount}}</p>
          </div>
          <div class="nrlibrave-container">
            <p>Read</p>
            <p>{{klcount}}</p>
          </div>
        </div>
      </div>
      
    
        <div class="dukelexuarprogress">
              {% if dlcount is 0 %}
                 <p>You should add books to the Reading shelf to show the progress.</p>
              {% else %}
               <div class="profile1 profileFix">
                <img id="progressImg"class="profileImg" src="{{ progressBookImage }}" width="200" height="200"alt="noImg">
              </div>
              <div class="title">
                <p id="progressTitulli">{{progressLibriTitulli}}</p>
              </div>
              <div class="text-progress">
                <p id="progressShowText">{{progressNowPages}}/{{progressAllPages}} pages or {{progressPercent}}%</p>
              </div>
               <!-- Button trigger modal -->
               <div class="progressButtons">
                  <button id="progressButton" type="button" class="mybutton" data-toggle="modal" data-target="progressUpdateModal">
                     Update
               </button>
                  <button  id="progressBooksButton" type="button" class="mybutton" data-toggle="modal1" data-target="progressBooksModal">
                     View others
                   </button>
               
               </div>
              
                {% endif %}
         </div>
        


       
        
         
   
       
      <!-- <div class="centerFlex"> -->
      <div class="njoftimet text">
        <div class="njoftimi">
          <p class="njoftimicontent">
            Lirak Rushiti started reading "Harry Potter"...
          </p>
        </div>
        <div class="njoftimi">
          <p class="njoftimicontent">
            Elidon Morina started reading "Harry Potter"...
          </p>
        </div>
        <div class="njoftimi">
          <p class="njoftimicontent">
            Vlera Bllaca started reading "Harry Potter"...
          </p>
        </div>
        <div class="njoftimi">
          <p class="njoftimicontent">
            Sara Bajraktari started reading "Harry Potter"...
          </p>
        </div>
        <div class="njoftimi">
          <p class="njoftimicontent">
            Eris Frangu started reading "Harry Potter"...
          </p>
        </div>
        <div class="njoftimi">
          <p class="njoftimicontent">
            Lirak Rushiti started reading "Harry Potter"...
          </p>
        </div>
        <div class="njoftimi">
          <p class="njoftimicontent">
            Lirak Rushiti started reading "Harry Potter"...
          </p>
        </div>
        <div class="njoftimi">
          <p class="njoftimicontent">
            Lirak Rushiti started reading "Harry Potter"...
          </p>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
  <div class="perty">
    <!-- qetu punon perty -->
    <p class="headingSortby">For you</p>
    <div class="PerTyImages">
      {% for book in booksFY %}
    <div class="mycover ptcover"><a href="{% url 'book-detail' book.isbn %}">
      <img src="{{ book.image_link }}" class="ptimage myimage"></a>
      <h3 class="pttitle">{{book.titulli}}</h3>
      <div class="underlinept"></div>
      <p class="ptdesc">{{book.autori}}</p>
      <button class="mybutton hbpt buttonStyle">Want to read</button>
    </div>
   {% endfor %}
  </div>
  <p  class="meshume"><a href="{% url 'shfleto' %}" class="a_meshume a_link">More<img class="arrowimage" src="{% static 'libri_im/images/arrow.png' %}"></a></p>
  
  </div>
  {% endif %}
  <div class="sortby">
    <!-- qetu punon sortby -->
  
    <p class="headingSortby">Latest books</p>
    <div class="sortByImages"> 
      {% for book in booksLatest %}
    <div class="mycover ptcover"><a href="{% url 'book-detail' book.isbn %}" >
      <img src="{{ book.image_link}}" class="ptimage myimage"></a>
      <h3 class="pttitle">{{book.titulli}}</h3>
      <div class="underlinept"></div>
      <p class="ptdesc">{{book.autori}}</p>
  {% if user.is_authenticated %}
      {% if book.isbn in wtrBooks %}
      <button onclick="onClickFunction( book='{{ book.isbn }}', wtrBooks = '{{wtrBooks}}');" class="mybutton hbpt buttonStyle" id="buttonclick{{book.isbn}}">Added</button>
      {% else %}   
      <button onclick="onClickFunction( book='{{ book.isbn }}', wtrBooks = '{{wtrBooks}}');" class="mybutton hbpt buttonStyle" id="buttonclick{{book.isbn}}">Want to read</button>
       {% endif%}
    
  {% endif%} 
    </div>
    {% endfor %}
   
  </div>  
  <p  class="meshume"><a href="{% url 'shfleto' %}" class="a_meshume a_link">More<img class="arrowimage" src="{% static 'libri_im/images/arrow.png' %}"></a></p>
  
  <p class="headingSortby">Most rated</p>
  
      
  <div class="sortByImages"> 
    {% csrf_token %}
    {% for book in booksR %}
  <div class="mycover ptcover"><a href="{% url 'book-detail' book.isbn %}" >
    <img src="{{ book.image_link}}" class="myimage"></a>
    <h3 class="pttitle">{{book.titulli}}</h3>
    <div class="underlinept"></div>
    <p class="ptdesc">{{book.autori}}</p>
    {% if user.is_authenticated %}
    {% if book.isbn in wtrBooks %}
     <button onclick="onClickFunction( book='{{ book.isbn }}');" id="buttonclick{{book.isbn}}" class="mybutton hbpt buttonStyle">Added</button>
    {% else %}
     <button onclick="onClickFunction( book='{{ book.isbn }}');"  id="buttonclick{{book.isbn}}" class="mybutton hbpt buttonStyle">Want to read</button>
    {% endif%}
    {% endif %}
  </div>
  {% endfor %}
 
</div>  

  <p  class="meshume"><a href="{% url 'shfleto' %}" class="a_meshume a_link">More<img class="arrowimage" src="{% static 'libri_im/images/arrow.png' %}"></a></p>


    <p id="p1">Events</p>
  <div class="events">
   <div class="events1 left" >
      <div class="img-container">
        <img src="{% static 'libri_im/images/summerEvent.png' %}" class="img">
      </div>
        <button id="btnEvent">Click here</button>
    </div>
   <div class="events1 right">
    <div class="img-container">
        <img src="{% static 'libri_im/images/YearEvent1.png' %}" class="img">
        </div>
        <button id="btnEvent1">Click here</button>
    </div>
  </div>
   <script type="text/javascript"> 

    // Show modal for selecting the book that you want to show on "My shelf"
    $(document).on('click', '#progressBooksButton', function(e) {
          $('#progressBooksModal').modal('show')
      });
       
    // POST and GET methods for the Select book to show button
    function selectOnClick(isbn){
      btnClickedId = "select" + isbn
        $(document).on('click', btnClickedId, function(e) {
          e.preventDefault();
           });
         $.ajax({
          type: 'POST',
          url:'{% url "post_selectBook" %}' ,
          data: {
              isbn: isbn,
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success: function() {
            $.ajax({
              url : '{% url "get_selectBook" %}',
              type : "GET",
              dataType: "json",
              success: function(json) {
                 $('#progressImg').attr("src",json.progressBookImage)
                 $('#progressTitulli').text(json.progressLibriTitulli)
                let progressNowPages = json.progressNowPages
                let progressAllPages = json.progressAllPages
                let progressPercent = json.progressPercent.toFixed(1)
                let allString = ""+progressNowPages+"/"+progressAllPages+" pages or "+progressPercent+"%"
                 $('#progressShowText').text(allString)


              },
              failure: function(json) { 
                  alert('Got an error dude GET');
              }
            });    
          
          },
          failure: function() {
               alert('Got an error dude POST');
          }
          
        });
        $('#progressBooksModal').modal('hide')
    }

    // Show modal for updating the book current pages that is shown in "My shelf"
      $(document).on('click', '#progressButton', function(e) {
          $('#progressUpdateModal').modal('show')
      });

    // POST and GET methods for the Update button to show the changes of current progress pages
      $(document).on('click', '#updateProgress', function(e) {
           $.ajax({
          type: 'POST',
          url:'{% url "post_progress" %}' ,
          data: {
              progressPages: $('#progressInput').val(),
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success: function() {
              $.ajax({
              url : '{% url "get_progress" %}',
              type : "GET",
              dataType: "json",
              success: function(json) {
                let progressNowPages = json.progressNowPages
                let progressAllPages = json.progressAllPages
                let progressPercent = json.progressPercent
                let allString = ""+progressNowPages+"/"+progressAllPages+" pages or "+progressPercent+"%"
                $('#progressShowText').text(allString)
              },
              failure: function(json) { 
                  alert('Got an error dude GET');
              }
            });    
          }
             
        });
          $('#progressInput').val(''),
         $('#progressUpdateModal').modal('hide')
      });

       // POST and GET methods for the Want to read button in every book cover
      function onClickFunction(book){
        btnClickedId = "#buttonclick"+book
          $(document).on('click', btnClickedId, function(e) {
          e.preventDefault();
           });
          $.ajax({
          type: 'POST',
          url:'{% url "post_wtr" %}' ,
          data: {
              isbn: book,
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success: function() {
            $.ajax({
              url : '{% url "get_wtr" %}',
              type : "GET",
              dataType: "json",
              data: {
                  isbn: book
              },
              success: function(json) {
                // Change number in Want to read Counter
                  $('#wtrtext').text(json.books.length)
                // Change text in Want to read Button and vice-versa
                  if(json.Added){
                    $(btnClickedId).text("Added")
                  } else {
                    $(btnClickedId).text("Want to read")
                  }
              },
              failure: function(json) { 
                  alert('Got an error dude GET');
              }
            });    
          },
          failure: function() {
               alert('Got an error dude POST');
          }
        });
        }


  </script>
</div>
{% endblock content %}
