{% extends 'libri_im/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type=text/css href="{% static 'libri_im/css/login.css' %}">
<link rel="stylesheet" type=text/css href="{% static 'libri_im/css/global.css' %}">
<style>
 
  #password {  
  background-image: url("https://img.icons8.com/material-sharp/20/000000/visible.png");
  background-position: 97% center;
  background-repeat: no-repeat;
}
#password.visible {
  background-image: url("https://img.icons8.com/material-outlined/20/000000/invisible.png");
}#toggle-password {
  display: none;
}
#toggle-password + label {
  text-indent: -9999px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: -32px;
  cursor: pointer;
}
</style>
<body>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-12">
<div class="login-container">
		
                <form class="form" method="post" id="login">
                  {% csrf_token %}
                  <div class="body-container">
                    <h1 class="form-title">Login</h1>
                  {% include 'alerts/messages.html'%}    
                  <p>  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                  </p>
                   <p>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                    <input type="checkbox" id="toggle-password" />
                    <label for="toggle-password">Show Password</label></p>
                    <p>
                    <button class="mybutton" type="submit" style="padding-top:1%;padding-bottom:1%">Log in</button>
                    </p>
                </form>
              <br>
                  <div>Don't have an account? <a href="{% url 'register' %}" style="color:white">Register here!</a></p></div>
				<div class="reset">
					<a href="{% url 'reset_password' %}" style="text-decoration:none;color:white;">Reset password</a>
				</div>
      </div>
</div>
</div>
</div>
<script href="{% static 'libri_im/js/test.js' %}"></script>
</body>




{% endblock content %}