{% extends 'libri_im/base.html' %} {% load static %} {% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class = "allContainer">
  <div class = "allContainer1">
  {% if request.user.is_authenticated %}

  <div class="mainContainer">
    <div class="profile-container align-items-center">
      <div>
        <img class="profileImg2" src="{{request.user.profileImg.url}}" alt="no-img" >
      </div>
      <div class="w-100 left-container">
        <div class="profile-info">
          <div>
            <h1 id="profileName" class="userProfileName d-flex align-items-center">
             <span class="username">{{currentUser.username}}</span>
             <a class="editProfile mx-1" href="{% url 'profile_page' %}" >(edit profile)</a>
            </h1>
            <div class="userProfileStats mb-5">
              <h6>
                <span class="joined">{{currentUser.dateJoined}}</span><br>  
                <!-- <a id="ratings" href="#">30 ratings</a><br>
                <a id="reviews" href="#">10 reviews</a><br> -->
              </h6>
            </div>
          </div>
          <div class="userShelf">
            <div class="d-flex align-items-center flex-column">
              <a  class="linkColor" href="#" >Read</a>
              <div><p id= "readtext">{{readCount}}</p></div>
            </div>
            <div class="d-flex align-items-center flex-column">
              <a  class="linkColor" href="#" >Reading</a>
              <div><p id= "readingtext">{{readingCount}}</p></div> 
            </div>
            <div class="d-flex align-items-center flex-column">
              <a class="linkColor" href="#" >Want To Read</a>
              <div><p id= "wtrtext">{{wantToReadCount}}</p></div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>


  
    <ul class="nav nav-pills m-5" id="pills-tab" role="tablist">
      <li class="nav-item col-3" role="presentation">
        <button
          class="nav-link active text-white"
          id="pills-kam-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-kam"
          type="button"
          role="tab"
          aria-controls="pills-kam"
          aria-selected="true"
        >
          Read
        </button>
      </li>
      <li class="nav-item col-3" role="presentation">
        <button
          class="nav-link text-white"
          id="pills-duke-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-duke"
          type="button"
          role="tab"
          aria-controls="pills-duke"
          aria-selected="false"
        >
          Reading
        </button>
      </li>
      <li class="nav-item col-3" role="presentation">
        <button
          class="nav-link text-white"
          id="pills-dua-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-dua"
          type="button"
          role="tab"
          aria-controls="pills-dua"
          aria-selected="false"
        >
          Want to read
        </button>
      </li>
    </ul>
  
  <div class="tab-content" id="pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="pills-kam"
      role="tabpanel"
      aria-labelledby="pills-kam-tab"
    >
      <div class="row">   
        {% if readCount != 0 %}    
            {% for book in read %}
            <div id="buttonclick{{book.isbn}}" style="margin-bottom: 15px;" class="col-lg-2 col-md-4 col-sm-12">
            
              <div class="mycover ptcover">
                  <a href="{% url 'book-detail' book.isbn %}" >
                <img src="{{book.image_link}}" class="ptimage myimage" alt="no-img"/>
                </a>
                <h3 class="pttitle hover-1">{{book.titulli|truncatechars:17}}</h3>
                <div class="underlinept"></div>
                <p class="ptdesc text-truncate">{{book.pershkrimi|truncatechars:25}}</p>
                  {% csrf_token %}
                 <button onclick="onClickReadRemove(bookIsbn='{{ book.isbn }}')" class="mybutton hbpt buttonStyle">Remove</button>
              </div>
              
            </div>
            {% endfor %}
            {% else %}
            <h2>No books to show</h2>
          {% endif %}
      </div>
    </div>
      <div
        class="tab-pane fade"
        id="pills-duke"
        role="tabpanel"
        aria-labelledby="pills-duke-tab"
      >
        <div class="row">
          {% if readingCount != 0 %}
          {% for book in reading %}
          <div id="buttonclick{{book.isbn}}" style="margin-bottom: 15px;" class="col-lg-2 col-md-4 col-sm-12">
            
            <div class="mycover ptcover">
              <a href="{% url 'book-detail' book.isbn %}" >
              <img src="{{book.image_link}}" class="ptimage myimage" alt="no-img"/>
              </a>
              <h3 class="pttitle hover-1">{{book.titulli|truncatechars:17}}</h3>
              <div class="underlinept"></div>
              <p class="ptdesc text-truncate">{{book.pershkrimi|truncatechars:25}}</p>
                   {% csrf_token %}
                 <button onclick="onClickReadingRemove(bookIsbn='{{ book.isbn }}')" class="mybutton hbpt buttonStyle">Remove</button>
            </div>
          </div> 
          {% endfor %}
          {% else %}
              <h2>No books to show</h2>
          {% endif %}
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="pills-dua"
        role="tabpanel"
        aria-labelledby="pills-dua-tab"
      >
        <div class="row">
          {% if wantToReadCount != 0 %}
          {% for book in wantToRead %}
          <div id="buttonclick{{book.isbn}}" style="margin-bottom: 15px;" class="col-lg-2 col-md-4 col-sm-12">
         
            <div class="mycover ptcover">
              <a href="{% url 'book-detail' book.isbn %}" >
              <img src="{{book.image_link}}" class="ptimage myimage" alt="no-img"/>
              </a>
              <h3 class="pttitle hover-1">{{book.titulli|truncatechars:17}}</h3>
              <div class="underlinept"></div>
              <p class="ptdesc text-truncate">{{book.pershkrimi|truncatechars:25}}</p>
                  {% csrf_token %}
                 <button onclick="onClickWtrRemove(bookIsbn='{{ book.isbn }}')" class="mybutton hbpt buttonStyle">Remove</button>
            </div>
          </div>  
          {% endfor %}
          {% else %}
               <h2>No books to show</h2>
          {% endif %}
        </div>
      </div>
    </div>
    {% else %}
    <h2>
      You should be loged in and have admin premissions to access this page's
      content
    </h2>
      </div>
    </div>
  </div>
 
    {% endif %}

     <script type="text/javascript" >
     function onClickReadRemove(bookIsbn){
        btnClickedId = "#buttonclick"+bookIsbn
          $(document).on('click', btnClickedId, function(e) {
          e.preventDefault();
           });
          $.ajax({
          type: 'POST',
          url:'{% url "post_read" %}' ,
          data: {
              isbn: bookIsbn,
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success: function() {
            $.ajax({
              url : '{% url "get_read" %}',
              type : "GET",
              dataType: "json",
              data: {
                  isbn: bookIsbn
              },
              success: function(json) {
                // Change number in Want to read Counter
                  $('#wtrtext').text(json.wtrCount.books.length)
                  $('#readtext').text(json.readCount.books.length)
                  $('#readingtext').text(json.readingCount.books.length)

                // Change text in Want to read Button and vice-versa
                  if(!json.added){
                    $(btnClickedId).remove()
                  }
              },
              failure: function(json) { 
                  alert('Got an error dude GET');
              }
            });    
          },
          failure: function() {
               alert('Got an error dude POST');
          }
        });
        }
        function onClickReadingRemove(bookIsbn){
        btnClickedId = "#buttonclick"+bookIsbn
          $(document).on('click', btnClickedId, function(e) {
          e.preventDefault();
           });
          $.ajax({
          type: 'POST',
          url:'{% url "post_reading" %}' ,
          data: {
              isbn: bookIsbn,
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success: function() {
            $.ajax({
              url : '{% url "get_reading" %}',
              type : "GET",
              dataType: "json",
              data: {
                  isbn: bookIsbn
              },
              success: function(json) {
                // Change number in Want to read Counter
                  $('#wtrtext').text(json.wtrCount.books.length)
                  $('#readtext').text(json.readCount.books.length)
                  $('#readingtext').text(json.readingCount.books.length)

                // Change text in Want to read Button and vice-versa
                  if(!json.added){
                    $(btnClickedId).remove()
                  }
              },
              failure: function(json) { 
                  alert('Got an error dude GET');
              }
            });    
          },
          failure: function() {
               alert('Got an error dude POST');
          }
        });
        }
        function onClickWtrRemove(bookIsbn){
        btnClickedId = "#buttonclick"+bookIsbn
          $(document).on('click', btnClickedId, function(e) {
          e.preventDefault();
           });
          $.ajax({
          type: 'POST',
          url:'{% url "post_wtr" %}' ,
          data: {
              isbn: bookIsbn,
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success: function() {
            $.ajax({
              url : '{% url "get_wtr" %}',
              type : "GET",
              dataType: "json",
              data: {
                  isbn: bookIsbn
              },
              success: function(json) {
                // Change number in Want to read Counter
                  $('#wtrtext').text(json.wtrCount.books.length)
                  $('#readtext').text(json.readCount.books.length)
                  $('#readingtext').text(json.readingCount.books.length)

                // Change text in Want to read Button and vice-versa
                  if(!json.added){
                    $(btnClickedId).remove()
                  }
              },
              failure: function(json) { 
                  alert('Got an error dude GET');
              }
            });    
          },
          failure: function() {
               alert('Got an error dude POST');
          }
        });
        }
  </script>
    
    {% endblock content %}

