{% extends 'libri_im/base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" type=text/css href="{% static 'libri_im/css/profile.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>

<div class="myprofile">
    <div class="myprofileDiv">
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset>
    <legend>Update Profile</legend>
    <div class="input-container">
        <div class="form-group">
              <label  for="username">Change Username</label>
              <input class="form-control" type="text" name = "username" id="username" value="{{object.username}}">
         </div>
         <div class="form-group">
              <label  for="email">Change Email</label>
              <input class="form-control" type="text" name = "email" id="email" value="{{object.email}}">
         </div>
        <div class="form-group">
              <label  for="profileImg">Upload profile picture</label>
               <input class="form-control" type="file"  name = "profileImg" id="profileImg">
          </div>
        <div class="form-group">
              <label  for="profileImg">Change Password</label>
              <p>To change your password <a href="{% url 'change-password' %}">click here</a></p>
          </div>

    </div>
   
  
  </fieldset>
  <div class="form-group">
    <button type="submit" class="mybutton">Save</button>
  </div>
 
   <!-- <div id="theModal" class="modal fade height-50vh" style="background-color: black;">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div> -->
</div>
</div>
  <!-- <script>
    $('.modal1').on('click', function(e){
      e.preventDefault();
      $('#theModal').modal('show').find('.modal-content').load($(this).attr('href'));
    });
  </script> -->
{% endblock content%}