{% extends 'libri_im/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet/css" type="text/css" href="styles/register.css" />

<style type="text/css">

  .register-container {
        border: 2px solid blue;
        width: 100%;
        display: flex;
  
        justify-content: center;
        align-items: center;
      }
      .register-container > * {
        padding: 20px;
      }
      .body-container{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction:column;
        align-items: center;
      }
      .form {
            width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction:column;
        align-items: center;
        padding: 10px;
      }
      .form > input{
        padding: 10px;

      }
	  .form-title{
		  
	  }

</style>

<div class="register-container">
		  <div class="body-container">
		    <form class="form" method="post">{% csrf_token %}
				<h1 class="form-title">REGISTER FORM</h1>
				<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
				  <br>
				<input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required>
 				 <br>
				<input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password" required>
 				 <br>
				<input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Confirm password" required>
 				 <br>
				{% for field in registration_form %}
				<p>
				{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
				{% endfor %}
				</p>
				{% endfor %}
				{% if registration_form.non_field_errors %}
				<div style="color: red">
					<p>{{registration_form.non_field_errors}}</p>
				</div>

				{% endif %}

				<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

				</form>
		  </div>
</div>






{% endblock content %}