{% extends 'libri_im/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type=text/css href="{% static 'libri_im/css/login.css' %}">

<div class="register-container">
		  <div class="body-container">
			 
		    <form class="form" method="post">{% csrf_token %}
				<h1 class="form-title">Register</h1>
					{% include 'alerts/messages.html'%}
				<p><input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
				</p>
				<p>
				<input type="name" name="username" id="inputUsername" class="form-control" placeholder="Username" required>
 				 </p>
				  <p>
				<input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password" required>
 				 </p>
				  <p>
				<input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Confirm password" required>
 				</p>
				<p>
				<button class="register" type="submit">Register</button>
					</p>
				</form>
		  </div>
</div>






{% endblock content %}