{% extends 'libri_im/base.html' %}
{% load static %}
{% block content %}


<div class="shfleto-Container col-md-12 col-xl-12 ">
    <form >
        
        <select name = "dropdown" class="dropdownShfleto">
           <option value = "Rendit sipas..." selected class="optionShfleto">Sort by... </option>
           <option value = "Titulli" class="optionShfleto">Title</option>
           <option value = "Autori" class="optionShfleto" >Author</option>
           <option value = "Me te vlersuarit"class="optionShfleto" >Most rated</option>
           <option value = "Viti publikimit" class="optionShfleto">Published year</option>
           <option value = "Librat e fundit" class="optionShfleto">Latest books</option>
        </select>
     </form>

      
    <div class="booksCategory">
    <div class="shfletoImages col-sm-12 col-md-8 col-sm-10" >
            {% for book in books %}
                    
                <div class=" mycover ptcover ">
                <img src="{{book.image_link}}" class="ptimage myimage" alt="noimg">
                <h3 class="pttitle hover-1">{{book.titulli}}</h3>
                <div class="underlinept"></div>
                <p class="ptdesc text-truncate">{{book.pershkrimi}} </p>
                <button class="mybutton hbpt">Want to read</button>
                
                </div>
            {% endfor %}  
    </div>
    <div class="content-list col-sm-2 col-md-3 ">
            <h3>Categories</h3> 
            {%for category in books1%}
                <ul class="ulShfleto">
                    <li class="liShfleto">{{category.viti_publikimit}}</li>
                </ul>

            {%endfor%}
    </div>
</div>
{% if books.has_other_pages %}
<nav>
<ul class="pagination"  style="margin-top:5%; flex-wrap:wrap; display:flex; margin-left:2%;   ">
    {% if books.has_previous %}
      <li class="page-item PageNr "><a class="page-link" href="?page={{ books.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled page-item PageNr ActivePageNr"><span>&laquo;</span></li>
    {% endif %}
    {% for i in books.paginator.page_range %}
      {% if books.number == i %}
        <li class="page-item PageNr ActivePageNr"><span>{{ i }} <span  class="sr-only "></span></span></li>
      {% else %}
        <li class="page-item PageNr "><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if books.has_next %}
      <li class="page-item PageNr"><a class="page-link" href="?page={{ books.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li   class=" disabled page-item PageNr ActivePageNr "><span class=" "></span>&raquo; </span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

</div>
{% endblock %}
