{% extends 'libri_im/base.html' %}
{% load static %}
{% block content %}

{% load urlparams %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="shfleto-Container col-md-12 col-xl-12 ">
  <form action="">
    <select name="sort_name" id="sort_name"class="dropdownShfleto" onchange="this.form.submit();">
        <option class="optionShfleto" selected>Sort by...</option> 
        <option value="titulli" class="optionShfleto" >Title</option>
        <option value="autori" class="optionShfleto">Author</option>
        <option value="-viti_publikimit" class="optionShfleto">Latest books</option>
        <option value="-mes_vleresimit" class="optionShfleto">Highest rating</option>
    </select>
    <!--<button type="submit">Submit</button>-->
</form>

      
    <div class="booksCategory">
    <div class="shfletoImages col-sm-12 col-md-8 col-sm-10" >
            {% for book in books %}
                    
                <div class=" mycover ptcover "><a href="{% url 'book-detail' book.isbn %}">
                  <img src="{{ book.image_link }}" class="ptimage myimage"></a>
                <h3 class="pttitle">{{book.titulli}}</h3>
                <div class="underlinept"></div>
                <p class="ptdesc">{{book.autori}}</p> {% csrf_token %}
                {% if book.isbn in wtrBooks %}
               
                <button onclick="onClickFunction2( book='{{ book.isbn }}', wtrBooks = '{{wtrBooks}}');" class="mybutton hbpt buttonStyle" id="buttonclick{{book.isbn}}">Added</button>
                {% else %}   
                <button onclick="onClickFunction2( book='{{ book.isbn }}', wtrBooks = '{{wtrBooks}}');" class="mybutton hbpt buttonStyle" id="buttonclick{{book.isbn}}">Want to read</button>
                 {% endif%}
                </div>
            {% endfor %}  
    </div>
    <script>
      // POST and GET methods for the Want to read button in every book cover
      function onClickFunction2(book){
        btnClickedId = "#buttonclick"+book
          $(document).on('click', btnClickedId, function(e) {
          e.preventDefault();
           });
          $.ajax({
          type: 'POST',
          url:'{% url "post_wtr" %}' ,
          data: {
              isbn: book,
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success: function() {
            $.ajax({
              url : '{% url "get_wtr" %}',
              type : "GET",
              dataType: "json",
              data: {
                  isbn: book
              },
              success: function(json) {
                // Change number in Want to read Counter
                  $('#wtrtext').text(json.books.length)
                // Change text in Want to read Button and vice-versa
                  if(json.Added){
                    $(btnClickedId).text("Added")
                  } else {
                    $(btnClickedId).text("Want to read")
                  }
              },
              failure: function(json) { 
                  alert('Got an error dude GET');
              }
            });    
          },
          failure: function() {
               alert('Got an error dude POST');
          }
        });
        } 
      </script>
    <div class="content-list col-sm-2 col-md-3 ">
            <h3>Categories</h3> 
            {%for category in books1%}
                <ul class="ulShfleto">
                    <li class="liShfleto">{{category.viti_publikimit}}</li>
                </ul>

            {%endfor%}
    </div>
</div>
{% if books.has_other_pages %}
<nav>
<ul class="pagination"  style="margin-top:5%; flex-wrap:wrap; display:flex; margin-left:2%;   ">
    {% if books.has_previous %}
      <li class="page-item PageNr "><a class="page-link" href="?{% url_replace page=books.previous_page_number %}">&laquo;</a></li>
    {% else %}
      <li class="disabled page-item PageNr ActivePageNr"><span>&laquo;</span></li>
    {% endif %}
    {% for i in books.paginator.page_range %}
      {% if books.number == i %}
      
        <li class="page-item PageNr ActivePageNr"><span>{{ i }} <span  class="sr-only "></span></span></li>
      {% else %}
        <li class="page-item PageNr "><a class="page-link" href="?{%url_replace page=i%}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if books.has_next %}
      <li class="page-item PageNr"><a class="page-link" href="?{%url_replace page=books.next_page_number%}">&raquo;</a></li>
    {% else %}
      <li   class=" disabled page-item PageNr ActivePageNr "><span class=" "></span>&raquo; </span></li>
    {% endif %}
  </ul>
</nav>

{% endif %}

</div>
{% endblock %}
