{% extends 'libri_im/base.html' %} {% load static %} {% block content %}

<style type="text/css"></style>
<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align:center
  }
  </style>
<div>
  <h1>We are in detail page of a book</h1>
  {% if user.is_authenticated %}
  <!-- nese eshte useri i kyqt ateher del pershendetja + stili i frontendit-->
  <p>Hello {{current_username}}</p>
  {% else %}
  <!-- nese nuk eshte i kyqur del pa pershendetje +stili -->
  {% endif %}
 
       
          <table >
            <tr>
              <th>ISBN</th>
              <th>Title</th>
              <th>Author</th>
              <th>Categorie</th> 
              <th>Description</th> 
              <th>Avg.rate</th> 
              <th>No. ratings</th> 
              <th>No. pages</th> 
              <th>Published Year</th> 
              <th>Image</th>
            </tr>
       
            <tr>
             
              <td>{{ object.isbn }}</td>
              <td>{{ object.titulli }}</td>
              <td>{{ object.autori }}</td>
              <td>{{ object.kategoria }}</td> 
              <td>{{ object.pershkrimi }}</td> 
              <td>{{ object.mes_vleresimit }}</td> 
              <td>{{ object.nr_vleresimit }}</td> 
              <td>{{ object.nr_faqeve }}</td> 
              <td>{{ object.viti_publikimit }}</td> 
              <td><img src="{{object.image_link}}"></td>
             
            </tr>
         
          </table>
 
</div>

{% endblock content %}
