{% extends 'libri_im/base.html' %}
{% block content %}
  
        <form method="POST">
            {% csrf_token %}
         <h1 style="text-align:center; margin-top:3%;">Delete Book</h1>
                <h2 style="text-align:center; margin-top:3%;">Are you sure you want to delete book titled <br>"{{ object.titulli }}"</h2>
            </fieldset>
            <div style="text-align:center; margin-top:3%;">
                <button type="submit" class="mybutton">Yes</button>
                <a href="{% url 'admin_home'   %}" class="mybutton" style="text-decoration:none; padding:0.5% 2% 0.5%   2%;">Cancel</a>
            </div>
        </form>
    
{% endblock content %}