*{
    margin: 0;
    font-family:"Montserrat", sans-serif;

}
/* -----nav style-----*/
.nav{
    width:100%;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
}

.nav-links{
    display:flex;
    justify-content:flex-end;
    align-items:right;
    margin-right:2%;
}

.nav-links a{
    text-decoration:none;
    padding:4%;
    color:#fff;
    text-transform: uppercase;
    font-weight:500;
}
.nav-links a:hover{
    background-color:rgba(230, 230, 230, 0.192);
    padding:4%;
    color:#fff;
}
.nav-logo {
    height: 50px;
}

.nav-logo img {
    height: 100%;
    padding-right: 60px;
}

.nav-container{
    width:85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo_and_search{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

/* ----- search input ----- */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
.search__input {
    width: 100%;
    padding: 8px 8px ;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    background-color: transparent;
    background-image: url("https://i.ibb.co/qsJFBP5/Ha-PBSoz-search-icon-white-clipart.png");
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: 95% center;
    border-radius: 0px;
    border: 1px solid white;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

}

.search__input::placeholder {
        color: rgba(255, 251, 251, 0.8);
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

.search__input:hover,
    .search__input:focus {
        padding: 8px 8px;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid white;
        border-radius: 0;
        background-position: 100% center;
    }
/* nav style ends here */

/* ----- footer style ----- */

/* footer style ends here */