.body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
    scrollbar-width: none;
}

/* ----- animation on scroll -----*/
body{
   
}
.reveal{
    position:relative;
    transform:translateY(150px);
    opacity:0;
    transition:all 0.5s ease;
}

.reveal.active{
    transform:translateY(0px);
    opacity:1;
}

/* animation ends here */

.navBg {
    height: 60px;
    background-color: #444;
    color:#bbb;
  }

/* ----- book card designs -----*/
.books-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100%;
    gap:3%;
}

.bookCard{ 
    width:178px;
    height:250px;
    background-color:black;
    opacity:1;
    z-index: 1;
    position:relative;
    

}

.cardText{
    width:178px;
    height:0;
    overflow:hidden;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
   
	position:absolute;
	background-color:white;
    opacity:0.9;
	font-size: 15px;
	line-height: 18px;
	text-align:center;
	color: black;
    z-index:2;
}

.bookCard:hover .cardText {
    margin-top:-60px;
    height:60px;
	
}
/* book card design ends here*/

.bookCardFrame{
    position: relative;
    background-color: white;
    border:0.5px solid rgb(221, 221, 221);
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    padding-bottom:55px;
    transition:all 0.2s ease;
}
.bookTitleAuthor{
    font-size:small;
    margin-top:1%;
    margin-left:3%;
}
.bookTitle{
    font-size:large;
}
.bookCardFrame:hover{
    box-shadow: 0px 1px 9px 1px rgba(0,0,0,0.20);
    -webkit-box-shadow: 0px 1px 9px 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 1px 9px 1px rgba(0,0,0,0.20);
    transition:all 0.2s ease;
    
    
}
.imgContainer{
    width: 178px;
    height: 250px;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0px 20px 20px;
    border-color: transparent transparent  #d0d0d7 transparent;
    right: 0;
    bottom: 0;
    position: absolute;
  }

.bookCardFrame:hover .cardImage {
    opacity:0.5;
    transition:all 0.2s ease;
    
    
}

.bookCardFrame:hover {
    transform: scale(1.02);
}

.bookCardFrame:hover  .cardButton{
    opacity:1;
    transition:all 0.2s ease;
}
.cardButton:hover{
    background-color:#d0d0d7;
}

.cardImage::after{
    transition: all 2s ease;
    opacity:0;
}
.cardImage:hover::after{
    opacity:1;
}
.bannerCard{
    width:400px;
    height:270px;
    background-color:white;
    box-shadow: 0px 1px 9px 1px rgba(0,0,0,0.20);
    -webkit-box-shadow: 0px 1px 9px 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 1px 9px 1px rgba(0,0,0,0.20);
    margin-top:-7%;
    margin-bottom: 10%;
    display:flex;
    flex-direction: column;
    
}
.cardButton{
    position:absolute;
    top:50%;
    left:50%;
    width:80%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-items: center;
    z-index:2;
    opacity:0;
    background-color:#e9e9ed;
	border-radius:4px;
	border:1px solid #5e5e5e;
	display:inline-block;
	cursor:pointer;
	
	padding:4px 4px;
	text-decoration:none;
	
    
}
.normalButton {
    align-items: center;
    z-index:2;
    color: white;
    background-color:#ff9879;
	border-radius:4px;
	border:0px solid #5e5e5e; 
	display:inline-block;
	cursor:pointer;
	padding:4px 10px;
	text-decoration:none;
	
}

.bookIcon{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:5%;
}
.fa-book-open, .fa-user-friends, .fa-comments{
    font-size:50px;

}
.bannerCard-text{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    
}
.text-Center{
    width:80%;
    text-align: center;
    line-height:150%;
}
/* banner style ends here */

/* profile image css */
.profile {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.profileImg{
  height: 100%;
  width: 100%;
  clip-path: circle(40% at center);
  object-fit: cover;
  object-position: 0 0%;
}
/* profile image css ends here */


/* the official mybutton */
.mybutton {
    background:    #ff9879;
    border-radius: 3px;
    padding:       10px 20px;
    color:         #ffffff;
    display:       inline-block;
    text-align:    center;
    outline: none;  
    border: none;

}
/* the official mybutton end */


.tabcontent {
    min-height: 70vh;
}



.booksContainer{
  --auto-grid-min-size: 11rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  column-gap:50px;
  row-gap: 30px;
  justify-items: center;
}
.mybutton{
    margin-top:8%;
    padding:3%;
}