/* ----- animation on scroll -----*/
.reveal{
    position:relative;
    transform:translateY(150px);
    opacity:0;
    transition:all 0.5s ease;
}

.reveal.active{
    transform:translateY(0px);
    opacity:1;
}

/* animation ends here */



/* ----- book card designs -----*/
.books-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100%;
    gap:3%;
}

.bookCard{ 
    width:178px;
    height:250px;
    background-color:blueviolet;
    margin-top:3%;
    z-index: 1;
    position:relative;
    

}

.cardText{
    width:178px;
    height:0;
    overflow:hidden;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin-top:250px;
	position:absolute;
	background-color:white;
    opacity:0.5;
	font-size: 15px;
	line-height: 18px;
	text-align:center;
	color: black;
}

.bookCard:hover .cardText{
    margin-top:160px;
    height:80px;
	padding-top: 10px;
}
/* book card design ends here*/


/* -----banner style-----*/
.banner{
    height:65vh;
    background-image:url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 30%;
    
}

.bannerCards{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5%;
    flex-wrap: wrap;
    width:100%;
}

.bannerCard{
    width:400px;
    height:270px;
    background-color:white;
    box-shadow: 0px 1px 9px 1px rgba(0,0,0,0.20);
    -webkit-box-shadow: 0px 1px 9px 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 1px 9px 1px rgba(0,0,0,0.20);
    margin-top:-7%;
    margin-bottom: 10%;
    display:flex;
    flex-direction: column;
    
}
.bookIcon{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:5%;
}
.fa-book-open, .fa-user-friends, .fa-comments{
    font-size:50px;
    
}
.bannerCard-text{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    
}
.text-Center{
    width:80%;
    text-align: center;
    line-height:150%;
}
/* banner style ends here */
