/* body {
  background-color: #000;
} */


.navBg {
  height: 60px;
  background-color: #444 !important;
  color:#bbb !important;
}


.allContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.allContainer1{
  width: 90%;
}

.profile-container{
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
/* overwriting profile form global */
.profile{
  height: 250px !important;
  width: 250px !important;
}

.profile-left{
  width: 20%;
}

.profile-right {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.editProfile {
  font-size: 20px;
}

.userShelf {
  display: flex;
  gap: 200px;

}
.oneShelf {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}


.linkColor {
  color: #f9c74f;
  text-decoration: none;
}


/* Style the tab */
.tab {
  display: flex;
  overflow: hidden;
  /* border: 1px solid #ccc;
  background-color: #f1f1f1; */
  justify-content: space-between;
  /* padding: 0 10%; */
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
}


.booksContainer{
  --auto-grid-min-size: 11rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  column-gap:20px;
  row-gap: 10px;
  justify-items: center;
}

.books-center {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.tablinks {
  flex: 1;
  
}
.tab button:active{
}

.friends {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usernameJoinedFriends {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconsize{
  font-size: 30px !important;
}