
{% extends 'libri_im/base.html' %}
{% load static %}

{% block content %}
<div class="myprofile">
    <div class="myprofileDiv">
<h4>Password Reset</h4>
<p>Did you forget your password? Please write your email and then we will send you an email to reset your password.</p>
<div class="input-container">
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
    <label  for="email">Email</label>
    <input type="text" class="form-control" name="email" id="email"> </div><br>
    <input type="Submit" class="mybutton" name="Send email" value="Send">
</form></div>
</div></div>

{% endblock content %}