{% extends 'libri_im1/base1.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css"  href="{% static 'libri_im/css1/updateBook1.css' %}">
<div class="navBg"></div>
<div class="myprofile">
    <div class="myprofileDiv">
<center><h4>Email to change password has been sent.</h4></center>
<br>
<center>
<p>We have sent email with the link that allows you to change your password. If you dont receive any email from us in the email that you are registered here, check 'Spam'.
  <br>
</p></center>

</div>
</div>{% endblock content %}