{% extends 'libri_im/base.html' %}
{% load static %}

{% block content %}
<div class="myprofile">
    <div class="myprofileDiv">
		<h3>Write your new password</h3>
			
		<p> Please write your new password, so we can verify that you have written it correct.</p>

			<form method="post">

			{% csrf_token %}
			<div class="form-group">
				<label  for="new_password1">New password</label>
		<input type="password" name="new_password1" class="form-control" id="new_password1">
		<label  for="new_password2">Confirm password</label>	
		<input type="password" name="new_password2" class="form-control" id="new_password2"><br>
			<input type="Submit" class="mybutton" name="Update Password" value="Save">
			</div>
		</form>
{% endblock content %}