
{% extends 'libri_im1/base1.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css"  href="{% static 'libri_im/css1/updateBook1.css' %}">
<div class="navBg"></div>
<div class="myprofile">
    <div class="myprofileDiv">
<center><h4 style="margin-top:10px;">Password Reset</h4></center>
<center><p>Did you forget your password? Please write your email and then we will send you an email to reset your password.</p></center>
    <div class="input-container">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
            <label  for="email">Email</label>
            <input type="text" class="updateInput" name="email" id="email"> </div><br>
            <input type="Submit" class="btn btn-dark sendResetPassword" name="Send email" value="Send">
        </form>
    </div>
</div>
</div>

{% endblock content %}