
{% extends 'libri_im/base.html' %}
{% load static %}

{% block content %}
<div class="myprofile">
    <div class="myprofileDiv">
<h4>Nderrimimi i fjalekalimit</h4>
<p>A e keni harruar fjalekalimin? Ju lutem shkruani email-in tuaj dhe pastaj ne do ju dergojme nje email per ndrrimin e fjalekalimit.</p>
<div class="input-container">
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
    <label  for="email">Email</label>
    <input type="text" class="form-control" name="email" id="email"> </div><br>
    <input type="Submit" class="mybutton" name="Send email" value="Dergo">
</form></div>
</div></div>

{% endblock content %}