{% extends 'libri_im/base.html' %}
{% load static %}

{% block content %}
<div class="myprofile">
    <div class="myprofileDiv">
		<h3>Shkruani fjalekalimin e ri</h3>
			
		<p>Ju lutem shkruani fjalekalimin e ri, keshtu qe ne ne ta verifikojme se  keni shkruar mire.</p>

			<form method="post">

			{% csrf_token %}
			<div class="form-group">
				<label  for="new_password1">Fjalekalimi i ri</label>
		<input type="password" name="new_password1" class="form-control" id="new_password1">
		<label  for="new_password2">Konfirmo fjalekalimin</label>	
		<input type="password" name="new_password2" class="form-control" id="new_password2"><br>
			<input type="Submit" class="mybutton" name="Update Password" value="Dergo">
			</div>
		</form>
{% endblock content %}