.book {
  width: 100vw;
  height: 500px;
  /* border: 1px solid white; */
  position: relative;
  display: inline-block;
  /* overflow-x: hidden; */
}
.imgDiv {
  width: 400px;
  height: 500px;
  /* border: 1px solid orange; */
  position: relative;
  /* display: inline-block; */
  float: left;
}
.textDiv {
  width: 70%;
  height: 500px;
  /* border: 1px solid orange; */
  position: relative;
  /* display: inline-block; */
  float: left;
}
.imgStyle {
  width: 250px;
  height: 370px;
  border: 1px solid #f3722c;
  border-radius: 16px;
  position: absolute;
  left: 20%;
  top: 7%;
}
.h1style {
  margin-top: 3%;
}

.rate {
  float: left;
  height: 46px;
  padding: 70px 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 25px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.h5style {
  float: left;
  padding: 78px 10px;
  font-size: 17px;
}
.buttonStyle {
  background-color: transparent;
  color: white;
  padding: 5px 45px;
  border-radius: 20px;
  border: 1px solid #f3722c;
  margin-top: 130px;
  margin-left: -200px;
}
.commentDiv {
  /* border: 1px solid white; */
  margin-top: 150px;
  text-align: left;
  margin-left: 20px;
  /* position: fixed; */
}
.comment-box {
  border-radius: 16px;
  width: 350px;
  padding: 10px 10px;
}
.commentButton {
  margin-left: 285px;
}
.dateStyle {
  margin-left: 90px;
}
