.book {
  width: 100vw;
  height: auto;
  /* border: 1px solid white; */
  position: relative;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: hidden;
}
.imgDiv {
  width: 400px;
  height: 600px;
  /* border: 1px solid orange; */
  position: relative;
  /* display: inline-block; */
  float: left;
}
.textDiv {
  width: 50%;
  height: auto;
  /* border: 1px solid orange; */
  position: relative;
  /* display: inline-block; */
  float: left;
  margin-left: 30px;
}
.imgStyle {
  width: 250px;
  height: 370px;
  border: 1px solid #f3722c;
  border-radius: 16px;
  position: absolute;
  left: 20%;
  top: 7%;
}
.h1style {
  margin-top: 3%;
}

.rate {
  float: left;
  height: 46px;
  padding: 70px 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 25px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.h5style {
  float: left;
  padding: 78px 10px;
  font-size: 17px;
}
.buttonStyle {
  background-color: transparent;
  color: white;
  padding: 5px 45px;
  border-radius: 20px;
  border: 1px solid #f3722c;
  margin-top: 130px;
  margin-left: -200px;
}

.commentDiv {
  /* border: 1px solid white; */
  margin-top: 30px;
  text-align: left;
  margin-left: 30px;
  position: absolute;
  width: auto;
  display: inline-block;
}
.comment-box {
  width: 450px;
  padding: 10px 10px;
  background-color: transparent;
  border: 1px solid #f3722c;
  color: white;
  scrollbar-width: auto;
  scrollbar-color: #f3722c #000000;
  border-radius: 20px 0 0 20px;
  overflow: scroll;
  overflow-x: hidden;
  /* resize: none; */
}
.comment-box:focus {
  border-radius: 20px 0 0 20px;
  border: 1px solid #f3722c;
  box-shadow: 0 0 8px #f3722c;
}
.comment-box::-webkit-scrollbar {
  width: 10px;
  margin-right: 10px;
}

.comment-box::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.comment-box::-webkit-scrollbar-thumb {
  background-color: #f3722c;
  border-radius: 10px;
  border: rgba(0, 0, 0, 0);
}

.commentButton {
  margin-left: 320px;
  margin-top: 10px;
}
.dateStyle {
  padding-left: 10px;
}
.btnStyle1 {
  border: 1px solid #f3722c;
  background-color: transparent;
  color: white;
  padding: 5px 25px;
  border-radius: 20px;
  text-decoration: none;
  color: #f3722c;
  margin-left: 40px;
}

.btnStyle1:hover {
  text-decoration: none;
  color: white;
}
.comments {
  height: 70vh;
  width: auto;

  padding: 0 5vw;
  position: relative;
  width: 60%;
  height: 800px;
  /* border: 1px solid orange; */
  float: right;
  left: 20px;
  top: 20px;
  /* display: inline-block; */
}
.comments > * {
  border-radius: 20px;
  border: 2px solid transparent;
  padding: 20px 20px 0 20px;
  height: 70%;
  margin: 0 20px 0 20px;
}
.commentContainer {
  width: 100vw;
  height: auto;
  position: relative;
  display: inline-block;
  width: 100vw;
  height: auto;
  /* border: 1px solid white; */
}

.commentsBox {
  scrollbar-width: auto;
  scrollbar-color: #f3722c #000000;
  border-radius: 20px 0 0 20px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 10;
}

.commentsBox::-webkit-scrollbar {
  width: 10px;
  margin-right: 10px;
}

.commentsBox::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.commentsBox::-webkit-scrollbar-thumb {
  background-color: #f3722c;
  border-radius: 10px;
  border: rgba(0, 0, 0, 0);
}

.njoftimi1 {
  border: 2px solid #f3722c;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px 15px;
}
