.eventsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.events {
  width: 80%;
  display: flex;
  justify-content: center;
  /* padding: 30px;
  padding-left: 60px; */
}
.events1 {
  position:relative;
  width: 100%;
  margin: 20px;
}
.img-container {
  width:90% ;
  height: auto;
}
.img {
  width: 100%;
  border-radius: 20px;
  /* border: 0px solid black; */
  position: relative;
}
.pEvents {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

#btnEvent {
  position: absolute;
  right: 50px;
  bottom: 30px;
  border-radius: 50px;
  padding: 10px 30px;
  border: 2px solid white;
  background-color: Transparent;
  color: white;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
#btnEvent1 {
  position: absolute;
  left: 50px;
  bottom: 30px;
  border-radius: 50px;
  padding: 10px 30px;
  border: 2px solid #f48792;
  color: #f48792;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
#btnEvent:hover {
  background-color: white;
  color: #f8961e;
  transform: scale(1.1);
  border: 2px solid white;
}

#btnEvent1:hover {
  background-color: #f48792;
  color: white;
  transform: scale(1.1);
  border: 2px solid white;
}
#btnEvent:active {
  background-color: Transparent;
  color: white;
  transform: scale(1.1);
  border: 2px solid white;
}
#btnEvent1:active {
  background-color: Transparent;
  color: #f48792;
  transform: scale(1.1);
  border: 2px solid #f48792;
}

/* #btnEvent:hover + .img {
  opacity: 1.5;
} */
#p1 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 300;
  padding: auto;
}


.left{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.right{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}