#pills-kam-tab {
  border-radius: 16px;
}
#pills-duke-tab {
  border-radius: 16px;
}
#pills-dua-tab {
  border-radius: 16px;
}

.tab-content {
  border-radius: 16px;
  margin: 50px;
  /*grid-template-columns: repeat(8, 1fr);*/
  display: grid;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  width: 62%;
}

#pills-kam-tab:focus {
  background-color: white;
}

#pills-duke-tab:focus {
  background-color: white;
}

#pills-dua-tab:focus {
  background-color: white;
}

.profile1 {
  width: 200px;
  height: 200px;
}
.profileImg {
  margin-left: 15%;
  height: 100%;
  width: 100%;
  clip-path: circle(40% at center);
  object-fit: cover;
  object-position: 0 0%;
}
