.shfletoImages {
  /* display: flex;
  flex-direction: row;
  width: 80%;
  flex-wrap: wrap;
  gap: 10px; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0;
  column-gap: 10px;
  row-gap: 10px;
  width: 70%;
}

.content-list {
  padding: 10px 40px;
  border: 1px solid #f3722c;
  text-align: center;
  border-radius: 16px;

  display: flex;
  font-size: 25px;

  justify-content: center;
  color: #f3722c;
  font-family: "Montserrat", sans-serif;

  flex-direction: column;
  height: 70vh;
  position: fixed;
  left: 70%;
}
.ulShfleto {
  color: #f3722c;
  font-size: 15px;
  text-align: center;
  padding: 0px 20px;
}
.ulShfleto :hover {
  color: white;
}
.liShfleto {
  list-style: none;
  cursor: pointer;
}
.booksCategory {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
.shfleto-Container {
  width: 100%;
  height: 100%;
}
.dropdownShfleto {
  background-color: transparent;
  color: aliceblue;
  border: 1px solid #f3722c;
  padding: 5px 50px;
  margin: 30px;
  cursor: inherit;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
}

.optionShfleto {
  background-color: black;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
}
