.sirtariim {
  background-color: #000;
}

.title-container {
  display: flex;
  justify-content: center;
  height: 10vh;
  align-items: center;
}
.title-container h1 {
  font-weight: 300;
  font-size: 30px;
}

.sirtariim-container {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;

  margin: 0;
}
.sirtariim-container > * {
  border-radius: 20px;
  border: 2px solid white;
  padding: 0px 20px 0 20px;
  height: 70%;
  margin: 0 20px 0 20px;
}
.sirtaret {
  flex: 1;
}
.dukelexuarprogress {
  flex: 1;
}
.njoftimet {
  scrollbar-width: auto;
  scrollbar-color: #f3722c #000000;
  border-radius: 20px 0 0 20px;
  overflow: scroll;
  overflow-x: hidden;
  flex: 1;
}

.njoftimet::-webkit-scrollbar {
  width: 10px;
  margin-right: 10px;
}

.njoftimet::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.njoftimet::-webkit-scrollbar-thumb {
  background-color: #f3722c;
  border-radius: 10px;
  border: rgba(0, 0, 0, 0);
}

.njoftimi {
  border: 2px solid #f3722c;
  border-radius: 10px;
  margin-bottom: 10px;
}
.njoftimicontent {
  margin: 10px;
  font-size: 12px;
}
.text {
  color: black;
}

.nrlibrave-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px 50px;
}

.centerFlex {
  display: flex;
  align-items: center;
  flex: 1;
}

.profileFix {
   
  width: 35% !important; 
  height: 190px !important;
  margin: 0 !important;
  padding: 0 !important;
}
.dukelexuarprogress{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
}
.dukelexuarprogress .title p {
  margin:0;
  padding:10px 0;
}

.progressButtons {
  display: flex;
  width:90%;
  justify-content: space-evenly;
  flex-direction: row;
}
.progressButtons > * {
  height: 100%;
}

.modalShowBooks {
  display: flex;
  gap: 10px;

    flex-wrap: wrap;
}

.bookButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

}

.bookButtonContainer > * {
  margin-bottom: 10px;
}
.max-width-modal{
  /* max-width: 60% !important; */
  max-height: 65vh !important;
  overflow-x: hidden;
}
.viewAll {
  display: flex; 
  justify-content: center;
}

#viewAllLink {
  color:#f3722c; 
  text-decoration: none;

}

#viewAllLink:hover{
  color:white;
  text-decoration: underline;
}