{% load static %}

<!--Links  -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sirtari</title>
    <link rel="stylesheet" type=text/css  href="{% static 'libri_im/css1/base1.css' %}">
    <link rel="stylesheet" type=text/css  href="{% static 'libri_im/css1/global1.css' %}">
    <!--Font style-->
    <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="{% static 'libri_im/css1/footer.css' %}">

</head>
<body>
    <div class="nav">
        <div class="nav-container">
            <div class="logo_and_search">
                <div class="nav-logo">
                    <img src="{% static '/libri_im/images/logonavbar.png' %}"/>
                </div>

                <div class="search__container">
                    <input class="search__input" type="text" placeholder="Search">
                </div>
            </div>
         
            <div class="nav-links">
                <a href="{% url 'home1' %}">Home</a>
                <a href="{% url 'home' %}">Discover</a>
              
               
                   
                   
                 
              
                {% if user.is_authenticated %}
                <div class="dropdown ">
                    <a href="{% url 'profile_page' %}" class="dropdownBg"
                        ><img
                          class="profileImg "
                          src="{{request.user.profileImg.url}}" 
                          alt="noImg"
                      /></a>
                      {% csrf_token %}
                    <div class="dropdown-content " class="dropDownLink1">
                        <a href="{% url 'home' %}" class="dropDownLink">Profile</a>
                        <a href="{% url 'home' %}" class="dropDownLink">My books</a>
                       
                        {% if user.is_admin %}
                        <a href="{% url 'create' %}" class="dropDownLink">Create</a>
                        <a href="{% url 'admin_home1' %}" class="dropDownLink">Admin Home</a>
                        {% endif %}
                        <a href="{% url 'logout' %}" class="dropDownLink">Logout</a>
                    </div>
                </div>
               
                  {% else %}
                  <a href="{% url 'login1' %}">Login/Register</a>
                  {% endif %}

                
                

                
               
              
            </div>
        </div>
    </div>
   
    {% block content %} {% endblock %}

    <div class="footer-basic">
        <footer>
            <div class="social">
                <a href="#"><i class="fas fa-envelope"></i></a>
                <a href="#"><i class="icon ion-social-twitter"></i></a>
                <a href="#"><i class="icon ion-social-facebook"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Discover</a></li>
               
                <li class="list-inline-item"><a href="#">Login</a></li>
                <li class="list-inline-item"><a href="#">Register</a></li>
            </ul>
            <p class="copyright">Sirtari © 2021</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
