{% extends 'libri_im1/base1.html' %}
{% load static%}
{% block content %} 
<link rel="stylesheet" type="text/css"  href="{% static 'libri_im/css1/home1.css' %}">
<div class="banner">
       
</div>
    <div class="bannerCards">
        <div class="bannerCard">
            <div class="bookIcon">
                <i class="fas fa-book-open"></i>
            </div>
            <div class="bannerCard-text">
                <div class="text-Center">
                    <p> You can search and view books. You can add new friends in our Sirtari platform.</p>
                </div>
            </div>
        </div>
        <div class="bannerCard">
            <div class="bookIcon">
                <i class="fas fa-user-friends"></i>
            </div>
            <div class="bannerCard-text">
                <div class="text-Center">
                    <p> You can add new friends in our Sirtari platform. You can add new friends in our Sirtari platform.</p>
                </div>
            </div>
        </div>
        <div class="bannerCard">
            <div class="bookIcon">
                <i class="fas fa-comments"></i>
            </div>
            <div class="bannerCard-text">
                <div class="text-Center">
                    <p>Chat with your friends around the world. Chat with your friends around the world.</p>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="section-home reveal">
                <h1 class="h1-latestBooks text-center">Latest books</h1>
            <div class="books-container ">
                <div class="bookCardFrame">
                    <div class="bookCard">
                        <img class="bookCard bookCardOnHover" src="{% static 'libri_im/images/atomicHabits.jpg' %}">
                        <p class="bookTitleAuthor"><span class="bookTitle">Atomic Habits</span><br>
                                                                        - James Clear</p>
                        <button class="cardButton loginButton"> Want to read</button>
                       
                    </div>
                </div>
                <div class="bookCardFrame">
                    <div class="bookCard">
                        <img class="bookCard bookCardOnHover" src="{% static 'libri_im/images/atomicHabits.jpg' %}">
                        <p class="bookTitleAuthor"><span class="bookTitle">Atomic Habits</span><br>
                                                                        - James Clear</p>
                        <button class="cardButton loginButton"> Want to read</button>
                       
                    </div>
                </div>
                <div class="bookCardFrame">
                    <div class="bookCard">
                        <img class="bookCard bookCardOnHover" src="{% static 'libri_im/images/atomicHabits.jpg' %}">
                        <p class="bookTitleAuthor"><span class="bookTitle">Atomic Habits</span><br>
                                                                        - James Clear</p>
                        <button class="cardButton loginButton"> Want to read</button>
                       
                    </div>
                </div>
                <div class="bookCardFrame">
                    <div class="bookCard">
                        <img class="bookCard bookCardOnHover" src="{% static 'libri_im/images/atomicHabits.jpg' %}">
                        <p class="bookTitleAuthor"><span class="bookTitle">Atomic Habits</span><br>
                                                                        - James Clear</p>
                        <button class="cardButton loginButton"> Want to read</button>
                       
                    </div>
                </div>
                <div class="bookCardFrame">
                    <div class="bookCard">
                        <div class="imgContainer">
                            <img class="bookCard bookCardOnHover" src="{% static 'libri_im/images/atomicHabits.jpg' %}">
                        </div>
                        <p class="bookTitleAuthor"><span class="bookTitle">Atomic Habits</span><br>
                                                                        - James Clear</p>
                        <button class="cardButton loginButton"> Want to read</button>
                       
                    </div>
                </div>
                <div class="bookCardFrame">
                    <div class="bookCard">
                        <img class="bookCard bookCardOnHover" src="{% static 'libri_im/images/atomicHabits.jpg' %}">
                        <p class="bookTitleAuthor"><span class="bookTitle">Atomic Habits</span><br>
                                                                        - James Clear</p>
                        <button class="cardButton loginButton"> Want to read</button>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>

  <script type="text/javascript">
    window.addEventListener('scroll',reveal);
    function reveal(){
        var reveals=document.querySelectorAll('.reveal');

        for (var i=0; i<reveals.length; i++){
            var windowheight=window.innerHeight;
            var revealtop=reveals[i].getBoundingClientRect().top;
            var revealpoint=150;

            if(revealtop<windowheight-revealpoint){
                reveals[i].classList.add('active');
            }
            else{
                reveals[i].classList.remove('active');
            }
        } 
    }
    </script>


{% endblock %} 