{% extends 'libri_im1/base1.html' %} {% load static %} {% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type=text/css href="{% static 'libri_im/css1/mybooks1.css' %}"> 
<link rel="stylesheet" type=text/css href="{% static 'libri_im/css1/global1.css' %}"> 

<div class="navBg"></div>
<div class = "allContainer">
  <div class = "allContainer1">
  {% if request.user.is_authenticated %}
  {% csrf_token %}
  <div class="mainContainer">
    <div class="profile-container">
      <div class="profile-left">
      <div class="profile">
         <img class="profileImg" src="{{request.user.profileImg.url}}" alt="no-img" >
      </div>
      </div>
     
      <div class="profile-right">
        <div class="info">
        <div class="profile-info">
          <div class="usernameJoinedFriends">
            <div class="usernameJoined">
            <h2>{{request.user.username}}</h2>
            <!-- <form class="d-flex" method="get" action="{% url 'findFriends' %}">
              <input
                type="text"
                placeholder="&#xF002;&nbsp;&nbsp;Search for a friend..."
                style="padding-left: 2%; font-family: MontSerrat, FontAwesome"
                name="searchFriend"
                value="{{request.GET.searchFriend}}"
              />
               <button type="submit" style="padding:5px;"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form> -->
            <div class="dateJoined">
              <h6>
                <span class="joined">Joined since {{currentUser.dateJoined}}</span><br>  
              </h6>
            </div>
            </div>
            <div class="friends">
              <h5><i class="iconsize fas fa-user-friends"></i> {{userFriendsCount}} Friends</h5>
            </div>
          </div>
          <div class="userShelf">
            <div class="oneShelf">
              <a  class="linkColor" href="#" >Read</a>
              <div><p id= "readtext">{{readCount}}</p></div>
            </div>
            <div class="oneShelf">
              <a  class="linkColor" href="#" >Reading</a>
              <div><p id= "readingtext">{{readingCount}}</p></div> 
            </div>
            <div class="oneShelf">
              <a class="linkColor" href="#" >Want To Read</a>
              <div><p id= "wtrtext">{{wantToReadCount}}</p></div>
            </div>
          </div> 
        </div>
      </div>
      </div>

    </div>
  </div>


    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'Read')" id="defaultOpen"  >Read</button>
      <button class="tablinks" onclick="openTab(event, 'Reading')" >Reading</button>
      <button class="tablinks" onclick="openTab(event, 'Wtr')">Want to read</button>
    </div>


<div id="Read" class="tabcontent">
  <div class="books-center">
    
    {% if readCount == 0 %}
      <h2>No books to show</h2>
    {% else %}
       <div class="booksContainer">
          {% for book in read%}
          <div class="bookCardFrame"  id="buttonclick{{book.isbn}}">
                    <div class="bookCard">
                        <div class="imgContainer">
                           <img src="{{ book.image_link}}" class="bookCard cardImage">
                        </div>
                        <p class="bookTitleAuthor"><span class="bookTitle">{{book.titulli|truncatechars:15}}</span><br>
                                                                        - {{book.autori|truncatechars:15}}</p>
                                                                        
                       <button id="buttonclick{{book.isbn}}" onclick="onClickReadRemove('{{book.isbn}}')" class="cardButton loginButton">Remove</button>                                                
                    </div>
                  </div>
          {% endfor %}
       
      </div>
    {% endif %}
      



</div>
</div>

<div id="Reading" class="tabcontent">
      
  <div class="books-center">
    
    {% if readingCount == 0 %}
      <h2>No books to show</h2>
    {% else %}
       <div class="booksContainer">
          {% for book in reading %}
          <div class="bookCardFrame">
                    <div class="bookCard"  id="buttonclick{{book.isbn}}">
                        <div class="imgContainer">
                           <img src="{{ book.image_link}}" class="bookCard cardImage">
                        </div>
                        <p class="bookTitleAuthor"><span class="bookTitle">{{book.titulli|truncatechars:15}}</span><br>
                                                                        - {{book.autori|truncatechars:15}}</p>
                                                                        
                        <button id="buttonclick{{book.isbn}}" onclick="onClickReadingRemove('{{book.isbn}}')" class="cardButton loginButton">Remove</button>                                               
                    </div>
                  </div>
          {% endfor %}
       
      </div>
    {% endif %}

</div>
      
</div>

<div id="Wtr" class="tabcontent">
  <div class="books-center">
    
    {% if wantToReadCount == 0 %}
      <h2>No books to show</h2>
    {% else %}
       <div class="booksContainer">
          {% for book in wantToRead %}
          <div class="bookCardFrame"  id="buttonclick{{book.isbn}}">
                    <div class="bookCard">
                        <div class="imgContainer">
                           <img src="{{ book.image_link}}" class="bookCard cardImage">
                        </div>
                        <p class="bookTitleAuthor"><span class="bookTitle">{{book.titulli|truncatechars:15}}</span><br>
                                                                        - {{book.autori|truncatechars:15}}</p>
                                                                        
                          <button id="buttonclick{{book.isbn}}" onclick="onClickWtrRemove('{{book.isbn}}')" class="cardButton loginButton">Remove</button>

                                      
                    </div>
                  </div>
          {% endfor %}
       
      </div>
    {% endif %}
      



</div>
    
</div>

    {% else %}
    <h2>
      You should be loged in and have admin premissions to access this page's
      content
    </h2>
      </div>
    </div>

 
    {% endif %}
  </div>
  </div>
     <script type="text/javascript" >
  document.getElementById("defaultOpen").click();

    function openTab(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }

      function onClickReadRemove(bookIsbn){
        btnClickedId = "#buttonclick"+bookIsbn
          $(document).on('click', btnClickedId, function(e) {
          e.preventDefault();
           });
          $.ajax({
          type: 'POST',
          url:'{% url "post_read" %}' ,
          data: {
              isbn: bookIsbn,
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success: function() {
            $.ajax({
              url : '{% url "get_read" %}',
              type : "GET",
              dataType: "json",
              data: {
                  isbn: bookIsbn
              },
              success: function(json) {
                // Change number in Want to read Counter
                  $('#wtrtext').text(json.wtrCount.books.length)
                  $('#readtext').text(json.readCount.books.length)
                  $('#readingtext').text(json.readingCount.books.length)

                // Change text in Want to read Button and vice-versa
                  if(!json.added){
                    $(btnClickedId).remove()
                  }
              },
              failure: function(json) { 
                  alert('Got an error dude GET');
              }
            });    
          },
          failure: function() {
               alert('Got an error dude POST');
          }
        });
        }
        function onClickReadingRemove(bookIsbn){
        btnClickedId = "#buttonclick"+bookIsbn
          $(document).on('click', btnClickedId, function(e) {
          e.preventDefault();
           });
          $.ajax({
          type: 'POST',
          url:'{% url "post_reading" %}' ,
          data: {
              isbn: bookIsbn,
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success: function() {
            $.ajax({
              url : '{% url "get_reading" %}',
              type : "GET",
              dataType: "json",
              data: {
                  isbn: bookIsbn
              },
              success: function(json) {
                // Change number in Want to read Counter
                  $('#wtrtext').text(json.wtrCount.books.length)
                  $('#readtext').text(json.readCount.books.length)
                  $('#readingtext').text(json.readingCount.books.length)

                // Change text in Want to read Button and vice-versa
                  if(!json.added){
                    $(btnClickedId).remove()
                  }
              },
              failure: function(json) { 
                  alert('Got an error dude GET');
              }
            });    
          },
          failure: function() {
               alert('Got an error dude POST');
          }
        });
        }
        function onClickWtrRemove(bookIsbn){
        btnClickedId = "#buttonclick"+bookIsbn
          $(document).on('click', btnClickedId, function(e) {
          e.preventDefault();
           });
          $.ajax({
          type: 'POST',
          url:'{% url "post_wtr" %}' ,
          data: {
              isbn: bookIsbn,
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success: function() {
            $.ajax({
              url : '{% url "get_wtr" %}',
              type : "GET",
              dataType: "json",
              data: {
                  isbn: bookIsbn
              },
              success: function(json) {
                // Change number in Want to read Counter
                  $('#wtrtext').text(json.wtrCount.books.length)
                  $('#readtext').text(json.readCount.books.length)
                  $('#readingtext').text(json.readingCount.books.length)

                // Change text in Want to read Button and vice-versa
                  if(!json.added){
                    $(btnClickedId).remove()
                  }
              },
              failure: function(json) { 
                  alert('Got an error dude GET');
              }
            });    
          },
          failure: function() {
               alert('Got an error dude POST');
          }
        });
        }
  </script>
    


    {% endblock content %}