.mycover {
  overflow: hidden;
  border-radius: 8%;
  width: 12%;
  border: 2px solid #f3722c;
  margin-right: 1%;
}
.myimage {
  width: 100%;
  transition: all 0.3s;
}
.mycover:hover .myimage {
  transform: scale(1.1);
  opacity: 0.3;
}
