.mycover {
  overflow: hidden;
  border-radius: 8%;
  width: 12%;
  border: 2px solid #f3722c;
  margin-right: 0.5%;
  position: relative;
}

.myimage {
  width: 100%;
  transition: all 0.3s;
}
.mycover:hover .myimage,
.mybuttonhover:hover {
  transform: scale(1.1);
  opacity: 0.3;
}
.mybutton {
  border-radius: 15px;
  border: 2px solid #f3722c;
  padding-left: 3%;
  padding-right: 3%;
  color: white;
  background-color: transparent;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
}
