{% extends 'libri_im1/base1.html' %} 
{% load static %} 
{% block content %}
<div class="navBg"></div>
<div style="display:flex; width: 100%; height:100vh; justify-content: center; align-items: center;">
    <form method="POST" style="display:flex; flex-direction:column; width: 100%; height:100vh; justify-content: center; align-items: center;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Change</button>
    </form>
</div>


{% endblock content %}