<link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
rel="stylesheet"
integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
crossorigin="anonymous"
/>
 {% if messages %}
		<div class="messages" style="position:absolute;top:50px;">
			 {% for message in messages %}
				<div
                {% if message.tags %} 
                class="alert alert-sm alert-{{ message.tags }}"
                {% endif %}>
					{{ message }}
				</div>
			{% endfor %}
		</div>
{% endif %}